// pantone-p-solid-coated
@pantone-p-solid-coated-yellow: #ffde00;
@pantone-p-solid-coated-yellow-012: #ffd700;
@pantone-p-solid-coated-orange-021: #ff5200;
@pantone-p-solid-coated-warm-red: #ff4539;
@pantone-p-solid-coated-red-032: #f63440;
@pantone-p-solid-coated-rubine-red: #d50058;
@pantone-p-solid-coated-rhodamine-red: #e60896;
@pantone-p-solid-coated-purple: #c129b9;
@pantone-p-solid-coated-violet: #410099;
@pantone-p-solid-coated-blue-072: #000f9f;
@pantone-p-solid-coated-reflex-blue: #001689;
@pantone-p-solid-coated-process-blue: #0082ca;
@pantone-p-solid-coated-green: #00a888;
@pantone-p-solid-coated-black: #2d2a26;
@pantone-p-solid-coated-yellow-0131: #f4f0a2;
@pantone-p-solid-coated-red-0331: #feafbc;
@pantone-p-solid-coated-magenta-0521: #f4b3dc;
@pantone-p-solid-coated-violet-0631: #c19bdf;
@pantone-p-solid-coated-blue-0821: #70d0ec;
@pantone-p-solid-coated-green-0921: #9ae7d9;
@pantone-p-solid-coated-black-0961: #9f968d;
@pantone-p-solid-coated-801: #0098ce;
@pantone-p-solid-coated-802: #3ad531;
@pantone-p-solid-coated-803: #ffe900;
@pantone-p-solid-coated-804: #ffac4e;
@pantone-p-solid-coated-805: #ff7376;
@pantone-p-solid-coated-806: #ff41b4;
@pantone-p-solid-coated-807: #f02bc2;
@pantone-p-solid-coated-871: #857650;
@pantone-p-solid-coated-872: #87714d;
@pantone-p-solid-coated-873: #886e4c;
@pantone-p-solid-coated-874: #8c704f;
@pantone-p-solid-coated-875: #88674f;
@pantone-p-solid-coated-876: #8d644b;
@pantone-p-solid-coated-877: #8a8d8e;
@pantone-p-solid-coated-medium-yellow: #ffda00;
@pantone-p-solid-coated-bright-orange: #ff6000;
@pantone-p-solid-coated-bright-red: #ff3c1f;
@pantone-p-solid-coated-strong-red: #d40054;
@pantone-p-solid-coated-pink: #dc2697;
@pantone-p-solid-coated-medium-purple: #4d008c;
@pantone-p-solid-coated-dark-blue: #00269a;
@pantone-p-solid-coated-medium-blue: #0082cc;
@pantone-p-solid-coated-bright-green: #00ae8e;
@pantone-p-solid-coated-neutral-black: #222222;
@pantone-p-solid-coated-100: #f7eb62;
@pantone-p-solid-coated-101: #f8ea49;
@pantone-p-solid-coated-102: #fde300;
@pantone-p-solid-coated-yellow: #ffde00;
@pantone-p-solid-coated-103: #c6aa00;
@pantone-p-solid-coated-104: #b19800;
@pantone-p-solid-coated-105: #8a7b29;
@pantone-p-solid-coated-7401: #f7e0a5;
@pantone-p-solid-coated-7402: #edd899;
@pantone-p-solid-coated-7403: #f1d384;
@pantone-p-solid-coated-7404: #f6da40;
@pantone-p-solid-coated-7405: #f3ce00;
@pantone-p-solid-coated-7406: #f4c400;
@pantone-p-solid-coated-7407: #cda053;
@pantone-p-solid-coated-106: #fbe446;
@pantone-p-solid-coated-107: #fee122;
@pantone-p-solid-coated-108: #ffdb00;
@pantone-p-solid-coated-109: #ffd200;
@pantone-p-solid-coated-110: #dbaa00;
@pantone-p-solid-coated-111: #ab8a00;
@pantone-p-solid-coated-112: #9d8412;
@pantone-p-solid-coated-113: #fde052;
@pantone-p-solid-coated-114: #fddd3f;
@pantone-p-solid-coated-115: #ffda27;
@pantone-p-solid-coated-116: #ffce00;
@pantone-p-solid-coated-117: #cc9800;
@pantone-p-solid-coated-118: #ae8400;
@pantone-p-solid-coated-119: #8a7422;
@pantone-p-solid-coated-127: #f5dc6d;
@pantone-p-solid-coated-128: #f7d54e;
@pantone-p-solid-coated-129: #f6cf3e;
@pantone-p-solid-coated-130: #f6a800;
@pantone-p-solid-coated-131: #d08a00;
@pantone-p-solid-coated-132: #a37400;
@pantone-p-solid-coated-133: #6e571d;
@pantone-p-solid-coated-1205: #f9e08e;
@pantone-p-solid-coated-1215: #fdd773;
@pantone-p-solid-coated-1225: #ffc845;
@pantone-p-solid-coated-1235: #ffb81d;
@pantone-p-solid-coated-1245: #c99211;
@pantone-p-solid-coated-1255: #af8520;
@pantone-p-solid-coated-1265: #8a6b26;
@pantone-p-solid-coated-120: #fedb65;
@pantone-p-solid-coated-121: #fed857;
@pantone-p-solid-coated-122: #ffd141;
@pantone-p-solid-coated-123: #ffc72a;
@pantone-p-solid-coated-124: #ecaa00;
@pantone-p-solid-coated-125: #b78500;
@pantone-p-solid-coated-126: #9d770f;
@pantone-p-solid-coated-7548: #ffc700;
@pantone-p-solid-coated-7549: #ffb700;
@pantone-p-solid-coated-7550: #d39100;
@pantone-p-solid-coated-7551: #b57f00;
@pantone-p-solid-coated-7552: #75541d;
@pantone-p-solid-coated-7553: #5b4622;
@pantone-p-solid-coated-7554: #4b3d2b;
@pantone-p-solid-coated-7555: #d39f0f;
@pantone-p-solid-coated-7556: #b78c1f;
@pantone-p-solid-coated-7557: #a17d23;
@pantone-p-solid-coated-7558: #977125;
@pantone-p-solid-coated-7559: #906a29;
@pantone-p-solid-coated-7560: #7f632e;
@pantone-p-solid-coated-7561: #6c5d36;
@pantone-p-solid-coated-134: #ffd26e;
@pantone-p-solid-coated-135: #ffc658;
@pantone-p-solid-coated-136: #ffbf3d;
@pantone-p-solid-coated-137: #ffa500;
@pantone-p-solid-coated-138: #e17d00;
@pantone-p-solid-coated-139: #b26e04;
@pantone-p-solid-coated-140: #75541b;
@pantone-p-solid-coated-1345: #fed086;
@pantone-p-solid-coated-1355: #ffc66e;
@pantone-p-solid-coated-1365: #ffb648;
@pantone-p-solid-coated-1375: #ff9f19;
@pantone-p-solid-coated-1385: #d87900;
@pantone-p-solid-coated-1395: #9c6018;
@pantone-p-solid-coated-1405: #704c1d;
@pantone-p-solid-coated-141: #f5c65d;
@pantone-p-solid-coated-142: #f4be49;
@pantone-p-solid-coated-143: #f6b436;
@pantone-p-solid-coated-144: #f28b00;
@pantone-p-solid-coated-145: #d57f00;
@pantone-p-solid-coated-146: #ab6c11;
@pantone-p-solid-coated-147: #725c29;
@pantone-p-solid-coated-7408: #f8bf00;
@pantone-p-solid-coated-7409: #f5b324;
@pantone-p-solid-coated-7410: #ffaf77;
@pantone-p-solid-coated-7411: #eba65e;
@pantone-p-solid-coated-7412: #d58332;
@pantone-p-solid-coated-7413: #e18533;
@pantone-p-solid-coated-7414: #c36d16;
@pantone-p-solid-coated-7562: #be9b60;
@pantone-p-solid-coated-7563: #d89b2b;
@pantone-p-solid-coated-7564: #de8b05;
@pantone-p-solid-coated-7565: #cf7b23;
@pantone-p-solid-coated-7566: #b06533;
@pantone-p-solid-coated-7567: #8b542f;
@pantone-p-solid-coated-7568: #795136;
@pantone-p-solid-coated-7569: #db8925;
@pantone-p-solid-coated-7570: #d7842c;
@pantone-p-solid-coated-7571: #ca7d32;
@pantone-p-solid-coated-7572: #ba7233;
@pantone-p-solid-coated-7573: #a9662b;
@pantone-p-solid-coated-7574: #a16a38;
@pantone-p-solid-coated-7575: #845d32;
@pantone-p-solid-coated-712: #fec99b;
@pantone-p-solid-coated-713: #ffbf86;
@pantone-p-solid-coated-714: #ffaa62;
@pantone-p-solid-coated-715: #f98e2b;
@pantone-p-solid-coated-716: #ed7800;
@pantone-p-solid-coated-717: #d65f00;
@pantone-p-solid-coated-718: #c14e00;
@pantone-p-solid-coated-148: #ffcc8c;
@pantone-p-solid-coated-149: #ffc37b;
@pantone-p-solid-coated-150: #ffb35a;
@pantone-p-solid-coated-151: #ff8400;
@pantone-p-solid-coated-152: #e97300;
@pantone-p-solid-coated-153: #c16b13;
@pantone-p-solid-coated-154: #9d5a18;
@pantone-p-solid-coated-155: #f2d1a0;
@pantone-p-solid-coated-156: #f2bd7d;
@pantone-p-solid-coated-157: #f1a055;
@pantone-p-solid-coated-158: #ee7624;
@pantone-p-solid-coated-159: #d25f15;
@pantone-p-solid-coated-160: #a5551c;
@pantone-p-solid-coated-161: #633d21;
@pantone-p-solid-coated-1485: #ffae60;
@pantone-p-solid-coated-1495: #ff9016;
@pantone-p-solid-coated-1505: #ff6c00;
@pantone-p-solid-coated-orange-021: #ff5200;
@pantone-p-solid-coated-1525: #bc4800;
@pantone-p-solid-coated-1535: #96460a;
@pantone-p-solid-coated-1545: #673918;
@pantone-p-solid-coated-1555: #ffba8f;
@pantone-p-solid-coated-1565: #ffa269;
@pantone-p-solid-coated-1575: #ff8030;
@pantone-p-solid-coated-1585: #ff6d0f;
@pantone-p-solid-coated-1595: #dc6016;
@pantone-p-solid-coated-1605: #a85623;
@pantone-p-solid-coated-1615: #8e4820;
@pantone-p-solid-coated-162: #ffbf9f;
@pantone-p-solid-coated-163: #ff9e6d;
@pantone-p-solid-coated-164: #ff8041;
@pantone-p-solid-coated-165: #ff681d;
@pantone-p-solid-coated-166: #e65400;
@pantone-p-solid-coated-167: #c1531b;
@pantone-p-solid-coated-168: #75391c;
@pantone-p-solid-coated-7576: #e08650;
@pantone-p-solid-coated-7577: #e57e3e;
@pantone-p-solid-coated-7578: #e06b2f;
@pantone-p-solid-coated-7579: #e0592b;
@pantone-p-solid-coated-7580: #c35131;
@pantone-p-solid-coated-7581: #894934;
@pantone-p-solid-coated-7582: #694735;
@pantone-p-solid-coated-1625: #ffa489;
@pantone-p-solid-coated-1635: #ff8e6c;
@pantone-p-solid-coated-1645: #ff6d37;
@pantone-p-solid-coated-1655: #ff4e00;
@pantone-p-solid-coated-1665: #e14504;
@pantone-p-solid-coated-1675: #ac451e;
@pantone-p-solid-coated-1685: #863a20;
@pantone-p-solid-coated-169: #ffb5ab;
@pantone-p-solid-coated-170: #ff8772;
@pantone-p-solid-coated-171: #ff5c36;
@pantone-p-solid-coated-172: #ff4814;
@pantone-p-solid-coated-173: #d3461e;
@pantone-p-solid-coated-174: #993921;
@pantone-p-solid-coated-175: #6d3628;
@pantone-p-solid-coated-7583: #c9612d;
@pantone-p-solid-coated-7584: #c05727;
@pantone-p-solid-coated-7585: #b45b38;
@pantone-p-solid-coated-7586: #a25231;
@pantone-p-solid-coated-7587: #954b2e;
@pantone-p-solid-coated-7588: #7e4c37;
@pantone-p-solid-coated-7589: #5e4638;
@pantone-p-solid-coated-7590: #d6b59f;
@pantone-p-solid-coated-7591: #c57d5a;
@pantone-p-solid-coated-7592: #b65434;
@pantone-p-solid-coated-7593: #a2412b;
@pantone-p-solid-coated-7594: #7f3a2d;
@pantone-p-solid-coated-7595: #6e3d30;
@pantone-p-solid-coated-7596: #5e3d32;
@pantone-p-solid-coated-7597: #d64123;
@pantone-p-solid-coated-7598: #c24729;
@pantone-p-solid-coated-7599: #b73e25;
@pantone-p-solid-coated-7600: #903f2c;
@pantone-p-solid-coated-7601: #85422c;
@pantone-p-solid-coated-7602: #7d4a32;
@pantone-p-solid-coated-7603: #694230;
@pantone-p-solid-coated-7604: #e6d5d4;
@pantone-p-solid-coated-7605: #e4bab4;
@pantone-p-solid-coated-7606: #db918a;
@pantone-p-solid-coated-7607: #c86d62;
@pantone-p-solid-coated-7608: #a9483e;
@pantone-p-solid-coated-7609: #873a35;
@pantone-p-solid-coated-7610: #6b3332;
@pantone-p-solid-coated-7611: #e0bcb0;
@pantone-p-solid-coated-7612: #cc9a8e;
@pantone-p-solid-coated-7613: #bf897f;
@pantone-p-solid-coated-7614: #a57f74;
@pantone-p-solid-coated-7615: #896761;
@pantone-p-solid-coated-7616: #6d4c4c;
@pantone-p-solid-coated-7617: #593d3d;
@pantone-p-solid-coated-7520: #ecbfb0;
@pantone-p-solid-coated-7521: #c49b83;
@pantone-p-solid-coated-7522: #b96a55;
@pantone-p-solid-coated-7523: #ae5d57;
@pantone-p-solid-coated-7524: #a85348;
@pantone-p-solid-coated-7525: #9e6950;
@pantone-p-solid-coated-7526: #8c3b1a;
@pantone-p-solid-coated-489: #f0c2b3;
@pantone-p-solid-coated-488: #f0b9aa;
@pantone-p-solid-coated-487: #f0a794;
@pantone-p-solid-coated-486: #ef907c;
@pantone-p-solid-coated-485: #e1261c;
@pantone-p-solid-coated-484: #9f3224;
@pantone-p-solid-coated-483: #683025;
@pantone-p-solid-coated-176: #ffb2b9;
@pantone-p-solid-coated-177: #ff828a;
@pantone-p-solid-coated-178: #ff5a5a;
@pantone-p-solid-coated-warm-red: #ff4539;
@pantone-p-solid-coated-179: #e53e30;
@pantone-p-solid-coated-180: #c33c33;
@pantone-p-solid-coated-181: #84332e;
@pantone-p-solid-coated-1765: #ffa5b5;
@pantone-p-solid-coated-1775: #ff8fa0;
@pantone-p-solid-coated-1785: #fe4a5d;
@pantone-p-solid-coated-1788: #f32836;
@pantone-p-solid-coated-1795: #d8292f;
@pantone-p-solid-coated-1805: #b2292e;
@pantone-p-solid-coated-1815: #802629;
@pantone-p-solid-coated-1767: #ffb0c0;
@pantone-p-solid-coated-1777: #ff647e;
@pantone-p-solid-coated-1787: #fa364a;
@pantone-p-solid-coated-red-032: #f63440;
@pantone-p-solid-coated-1797: #d0343a;
@pantone-p-solid-coated-1807: #a8353a;
@pantone-p-solid-coated-1817: #663334;
@pantone-p-solid-coated-7618: #cb6d4f;
@pantone-p-solid-coated-7619: #c64c38;
@pantone-p-solid-coated-7620: #bd302c;
@pantone-p-solid-coated-7621: #b12029;
@pantone-p-solid-coated-7622: #97272c;
@pantone-p-solid-coated-7623: #8f2a2b;
@pantone-p-solid-coated-7624: #852e2c;
@pantone-p-solid-coated-7625: #e8503e;
@pantone-p-solid-coated-7626: #cb3725;
@pantone-p-solid-coated-7627: #aa2d2a;
@pantone-p-solid-coated-7628: #a22b2a;
@pantone-p-solid-coated-7629: #6f3332;
@pantone-p-solid-coated-7630: #653231;
@pantone-p-solid-coated-7631: #592e2d;
@pantone-p-solid-coated-7415: #e9b9a7;
@pantone-p-solid-coated-7416: #ea6953;
@pantone-p-solid-coated-7417: #e74c39;
@pantone-p-solid-coated-7418: #d1555a;
@pantone-p-solid-coated-7419: #b24c5a;
@pantone-p-solid-coated-7420: #9f2241;
@pantone-p-solid-coated-7421: #691c33;
@pantone-p-solid-coated-182: #febccb;
@pantone-p-solid-coated-183: #ff9cb2;
@pantone-p-solid-coated-184: #fc5474;
@pantone-p-solid-coated-185: #ea002a;
@pantone-p-solid-coated-186: #cf0f2d;
@pantone-p-solid-coated-187: #ab192d;
@pantone-p-solid-coated-188: #79242f;
@pantone-p-solid-coated-196: #eec7ce;
@pantone-p-solid-coated-197: #ed9cad;
@pantone-p-solid-coated-198: #e64461;
@pantone-p-solid-coated-199: #dc0032;
@pantone-p-solid-coated-200: #c20430;
@pantone-p-solid-coated-201: #a32136;
@pantone-p-solid-coated-202: #8a2432;
@pantone-p-solid-coated-189: #fda4bc;
@pantone-p-solid-coated-190: #fa7699;
@pantone-p-solid-coated-191: #f4436d;
@pantone-p-solid-coated-192: #eb0045;
@pantone-p-solid-coated-193: #c50e3c;
@pantone-p-solid-coated-194: #9f2943;
@pantone-p-solid-coated-195: #7b303f;
@pantone-p-solid-coated-1895: #f8b6cd;
@pantone-p-solid-coated-1905: #f99bbb;
@pantone-p-solid-coated-1915: #f54d80;
@pantone-p-solid-coated-1925: #e8004c;
@pantone-p-solid-coated-1935: #cb003d;
@pantone-p-solid-coated-1945: #ac0b3d;
@pantone-p-solid-coated-1955: #8e1537;
@pantone-p-solid-coated-705: #f7dbe0;
@pantone-p-solid-coated-706: #f7ced8;
@pantone-p-solid-coated-707: #fab6c4;
@pantone-p-solid-coated-708: #fc92a4;
@pantone-p-solid-coated-709: #f36279;
@pantone-p-solid-coated-710: #e63f52;
@pantone-p-solid-coated-711: #d02c30;
@pantone-p-solid-coated-698: #f5d4d7;
@pantone-p-solid-coated-699: #f6c3cb;
@pantone-p-solid-coated-700: #f6adb9;
@pantone-p-solid-coated-701: #e98698;
@pantone-p-solid-coated-702: #d75d73;
@pantone-p-solid-coated-703: #bd3c4b;
@pantone-p-solid-coated-704: #a12b2f;
@pantone-p-solid-coated-203: #efb3cb;
@pantone-p-solid-coated-204: #eb81a9;
@pantone-p-solid-coated-205: #e6437b;
@pantone-p-solid-coated-206: #d60037;
@pantone-p-solid-coated-207: #ab0033;
@pantone-p-solid-coated-208: #8b1e41;
@pantone-p-solid-coated-209: #72253d;
@pantone-p-solid-coated-210: #fca0c9;
@pantone-p-solid-coated-211: #fa7fb6;
@pantone-p-solid-coated-212: #f55197;
@pantone-p-solid-coated-213: #e92076;
@pantone-p-solid-coated-214: #d41568;
@pantone-p-solid-coated-215: #af1857;
@pantone-p-solid-coated-216: #7f2346;
@pantone-p-solid-coated-7422: #f5ced5;
@pantone-p-solid-coated-7423: #e46486;
@pantone-p-solid-coated-7424: #e64784;
@pantone-p-solid-coated-7425: #ba2454;
@pantone-p-solid-coated-7426: #a8123e;
@pantone-p-solid-coated-7427: #9c182f;
@pantone-p-solid-coated-7428: #6d2b3d;
@pantone-p-solid-coated-7632: #d7cacb;
@pantone-p-solid-coated-7633: #c7a4a8;
@pantone-p-solid-coated-7634: #c66784;
@pantone-p-solid-coated-7635: #cd3363;
@pantone-p-solid-coated-7636: #c41d4a;
@pantone-p-solid-coated-7637: #952e46;
@pantone-p-solid-coated-7638: #832c41;
@pantone-p-solid-coated-217: #eebedc;
@pantone-p-solid-coated-218: #ea6cb0;
@pantone-p-solid-coated-219: #e01783;
@pantone-p-solid-coated-rubine-red: #d50058;
@pantone-p-solid-coated-220: #aa0050;
@pantone-p-solid-coated-221: #960048;
@pantone-p-solid-coated-222: #6f1d46;
@pantone-p-solid-coated-7639: #946d73;
@pantone-p-solid-coated-7640: #973f54;
@pantone-p-solid-coated-7641: #922c49;
@pantone-p-solid-coated-7642: #752e4a;
@pantone-p-solid-coated-7643: #692d44;
@pantone-p-solid-coated-7644: #5a2d3f;
@pantone-p-solid-coated-7645: #522b39;
@pantone-p-solid-coated-223: #f196ce;
@pantone-p-solid-coated-224: #ef70bc;
@pantone-p-solid-coated-225: #e41e93;
@pantone-p-solid-coated-226: #d6006e;
@pantone-p-solid-coated-227: #af0061;
@pantone-p-solid-coated-228: #8d0e57;
@pantone-p-solid-coated-229: #682145;
@pantone-p-solid-coated-230: #f6a7d7;
@pantone-p-solid-coated-231: #f578c5;
@pantone-p-solid-coated-232: #ee41aa;
@pantone-p-solid-coated-rhodamine-red: #e60896;
@pantone-p-solid-coated-233: #cb007c;
@pantone-p-solid-coated-234: #a60064;
@pantone-p-solid-coated-235: #871054;
@pantone-p-solid-coated-670: #edd3e2;
@pantone-p-solid-coated-671: #e8bcd8;
@pantone-p-solid-coated-672: #e2a0c9;
@pantone-p-solid-coated-673: #de86bb;
@pantone-p-solid-coated-674: #cc569a;
@pantone-p-solid-coated-675: #b42573;
@pantone-p-solid-coated-676: #9a0050;
@pantone-p-solid-coated-677: #e7cedd;
@pantone-p-solid-coated-678: #e6c8d8;
@pantone-p-solid-coated-679: #e0bed3;
@pantone-p-solid-coated-680: #cc95b5;
@pantone-p-solid-coated-681: #b46b95;
@pantone-p-solid-coated-682: #9d4878;
@pantone-p-solid-coated-683: #7f2855;
@pantone-p-solid-coated-684: #e4c6d4;
@pantone-p-solid-coated-685: #deb6c9;
@pantone-p-solid-coated-686: #d3a0b9;
@pantone-p-solid-coated-687: #c085a4;
@pantone-p-solid-coated-688: #aa6489;
@pantone-p-solid-coated-689: #8c3c67;
@pantone-p-solid-coated-690: #642340;
@pantone-p-solid-coated-510: #ecbfca;
@pantone-p-solid-coated-509: #ebb4c4;
@pantone-p-solid-coated-508: #e5aaba;
@pantone-p-solid-coated-507: #d792a9;
@pantone-p-solid-coated-506: #87364e;
@pantone-p-solid-coated-505: #702e3e;
@pantone-p-solid-coated-504: #572a32;
@pantone-p-solid-coated-7429: #e4bbcb;
@pantone-p-solid-coated-7430: #dfa9bf;
@pantone-p-solid-coated-7431: #cd7f9e;
@pantone-p-solid-coated-7432: #bb5c81;
@pantone-p-solid-coated-7433: #ac3a64;
@pantone-p-solid-coated-7434: #9f3259;
@pantone-p-solid-coated-7435: #8a264f;
@pantone-p-solid-coated-691: #ebcdcf;
@pantone-p-solid-coated-692: #e6bfc4;
@pantone-p-solid-coated-693: #dba3ac;
@pantone-p-solid-coated-694: #c78590;
@pantone-p-solid-coated-695: #b76c7a;
@pantone-p-solid-coated-696: #9a4856;
@pantone-p-solid-coated-697: #8c3c45;
@pantone-p-solid-coated-496: #f3c7cf;
@pantone-p-solid-coated-495: #f3bec7;
@pantone-p-solid-coated-494: #eba3b1;
@pantone-p-solid-coated-493: #dd8898;
@pantone-p-solid-coated-492: #933336;
@pantone-p-solid-coated-491: #813234;
@pantone-p-solid-coated-490: #5e2a2b;
@pantone-p-solid-coated-503: #eac5c7;
@pantone-p-solid-coated-502: #e5bcc2;
@pantone-p-solid-coated-501: #dca6ac;
@pantone-p-solid-coated-500: #c7878e;
@pantone-p-solid-coated-499: #7a4039;
@pantone-p-solid-coated-498: #6a3934;
@pantone-p-solid-coated-497: #52312d;
@pantone-p-solid-coated-5035: #e0c2c3;
@pantone-p-solid-coated-5025: #dcb8bc;
@pantone-p-solid-coated-5015: #cda2a6;
@pantone-p-solid-coated-5005: #b17c81;
@pantone-p-solid-coated-4995: #9c6268;
@pantone-p-solid-coated-4985: #894c53;
@pantone-p-solid-coated-4975: #402020;
@pantone-p-solid-coated-236: #f3a9dd;
@pantone-p-solid-coated-237: #f087cf;
@pantone-p-solid-coated-238: #e95fbe;
@pantone-p-solid-coated-239: #e040af;
@pantone-p-solid-coated-240: #ca2d9a;
@pantone-p-solid-coated-241: #b41a83;
@pantone-p-solid-coated-242: #83245f;
@pantone-p-solid-coated-2365: #f2bae0;
@pantone-p-solid-coated-2375: #e678cc;
@pantone-p-solid-coated-2385: #d93cb4;
@pantone-p-solid-coated-2395: #cf009f;
@pantone-p-solid-coated-2405: #b4008e;
@pantone-p-solid-coated-2415: #a2007d;
@pantone-p-solid-coated-2425: #870064;
@pantone-p-solid-coated-243: #eeb8e4;
@pantone-p-solid-coated-244: #e89cdb;
@pantone-p-solid-coated-245: #e280d2;
@pantone-p-solid-coated-246: #cc28b0;
@pantone-p-solid-coated-247: #c018a2;
@pantone-p-solid-coated-248: #a91c8e;
@pantone-p-solid-coated-249: #84286b;
@pantone-p-solid-coated-7646: #a96e87;
@pantone-p-solid-coated-7647: #ac3c73;
@pantone-p-solid-coated-7648: #9d1e65;
@pantone-p-solid-coated-7649: #8e1b61;
@pantone-p-solid-coated-7650: #762257;
@pantone-p-solid-coated-7651: #6d2a5c;
@pantone-p-solid-coated-7652: #612751;
@pantone-p-solid-coated-250: #e9bae5;
@pantone-p-solid-coated-251: #e09ce0;
@pantone-p-solid-coated-252: #d064ce;
@pantone-p-solid-coated-purple: #c129b9;
@pantone-p-solid-coated-253: #b21dac;
@pantone-p-solid-coated-254: #9e1d97;
@pantone-p-solid-coated-255: #76236d;
@pantone-p-solid-coated-517: #edc6df;
@pantone-p-solid-coated-516: #e8bfdc;
@pantone-p-solid-coated-515: #e3add7;
@pantone-p-solid-coated-514: #d58cc8;
@pantone-p-solid-coated-513: #94368d;
@pantone-p-solid-coated-512: #853376;
@pantone-p-solid-coated-511: #622d50;
@pantone-p-solid-coated-7436: #f1daeb;
@pantone-p-solid-coated-7437: #ceadd0;
@pantone-p-solid-coated-7438: #d79ed8;
@pantone-p-solid-coated-7439: #b588b9;
@pantone-p-solid-coated-7440: #a677a6;
@pantone-p-solid-coated-7441: #a15dc0;
@pantone-p-solid-coated-7442: #993dbc;
@pantone-p-solid-coated-2562: #daa9e3;
@pantone-p-solid-coated-2572: #cb8bdb;
@pantone-p-solid-coated-2582: #b150c5;
@pantone-p-solid-coated-2592: #9e28b5;
@pantone-p-solid-coated-2602: #8a1a9c;
@pantone-p-solid-coated-2612: #7b2682;
@pantone-p-solid-coated-2622: #673165;
@pantone-p-solid-coated-7653: #978794;
@pantone-p-solid-coated-7654: #a5779b;
@pantone-p-solid-coated-7655: #a45b96;
@pantone-p-solid-coated-7656: #923a80;
@pantone-p-solid-coated-7657: #702c63;
@pantone-p-solid-coated-7658: #6c345f;
@pantone-p-solid-coated-7659: #5e3654;
@pantone-p-solid-coated-524: #d6c3d8;
@pantone-p-solid-coated-523: #ccb1d0;
@pantone-p-solid-coated-522: #bc9cc6;
@pantone-p-solid-coated-521: #a77fb2;
@pantone-p-solid-coated-520: #652f6c;
@pantone-p-solid-coated-519: #5b325f;
@pantone-p-solid-coated-518: #4c2f48;
@pantone-p-solid-coated-5245: #dcced3;
@pantone-p-solid-coated-5235: #d1bec7;
@pantone-p-solid-coated-5225: #c7b0bc;
@pantone-p-solid-coated-5215: #af96a6;
@pantone-p-solid-coated-5205: #876479;
@pantone-p-solid-coated-5195: #674559;
@pantone-p-solid-coated-5185: #4c3041;
@pantone-p-solid-coated-5175: #dac7d0;
@pantone-p-solid-coated-5165: #d4c0cd;
@pantone-p-solid-coated-5155: #c1a5b8;
@pantone-p-solid-coated-5145: #9d7793;
@pantone-p-solid-coated-5135: #805475;
@pantone-p-solid-coated-5125: #6c3b5e;
@pantone-p-solid-coated-5115: #532a45;
@pantone-p-solid-coated-531: #e1c8e7;
@pantone-p-solid-coated-530: #dab8e3;
@pantone-p-solid-coated-529: #cda2dd;
@pantone-p-solid-coated-528: #b981d1;
@pantone-p-solid-coated-527: #8332a7;
@pantone-p-solid-coated-526: #73308b;
@pantone-p-solid-coated-525: #582c5f;
@pantone-p-solid-coated-256: #d9bedd;
@pantone-p-solid-coated-257: #c8a1cf;
@pantone-p-solid-coated-258: #8f489a;
@pantone-p-solid-coated-259: #702277;
@pantone-p-solid-coated-260: #672767;
@pantone-p-solid-coated-261: #5f295f;
@pantone-p-solid-coated-262: #53284f;
@pantone-p-solid-coated-2563: #cda3d8;
@pantone-p-solid-coated-2573: #bc84ca;
@pantone-p-solid-coated-2583: #a25eb5;
@pantone-p-solid-coated-2593: #86339a;
@pantone-p-solid-coated-2603: #722382;
@pantone-p-solid-coated-2613: #6a1f75;
@pantone-p-solid-coated-2623: #612166;
@pantone-p-solid-coated-7660: #9b90a4;
@pantone-p-solid-coated-7661: #906d96;
@pantone-p-solid-coated-7662: #7d4182;
@pantone-p-solid-coated-7663: #6c3176;
@pantone-p-solid-coated-7664: #673278;
@pantone-p-solid-coated-7665: #61376f;
@pantone-p-solid-coated-7666: #5d4e63;
@pantone-p-solid-coated-2567: #c3a0d9;
@pantone-p-solid-coated-2577: #a97cca;
@pantone-p-solid-coated-2587: #8448ad;
@pantone-p-solid-coated-2597: #5c0f8c;
@pantone-p-solid-coated-2607: #510c76;
@pantone-p-solid-coated-2617: #490e67;
@pantone-p-solid-coated-2627: #3d1152;
@pantone-p-solid-coated-263: #d9c5e6;
@pantone-p-solid-coated-264: #c3a7e2;
@pantone-p-solid-coated-265: #9264cd;
@pantone-p-solid-coated-266: #773dbe;
@pantone-p-solid-coated-267: #61279e;
@pantone-p-solid-coated-268: #592c82;
@pantone-p-solid-coated-269: #522d6d;
@pantone-p-solid-coated-2635: #c6b4e3;
@pantone-p-solid-coated-2645: #af96db;
@pantone-p-solid-coated-2655: #9579d3;
@pantone-p-solid-coated-2665: #7e57c6;
@pantone-p-solid-coated-violet: #410099;
@pantone-p-solid-coated-2685: #31006f;
@pantone-p-solid-coated-2695: #2e1a46;
@pantone-p-solid-coated-270: #b5b4e0;
@pantone-p-solid-coated-271: #9695d3;
@pantone-p-solid-coated-272: #7474c1;
@pantone-p-solid-coated-273: #21145f;
@pantone-p-solid-coated-274: #201751;
@pantone-p-solid-coated-275: #201747;
@pantone-p-solid-coated-276: #221d35;
@pantone-p-solid-coated-2705: #a8a4e0;
@pantone-p-solid-coated-2715: #8a84d7;
@pantone-p-solid-coated-2725: #665ec7;
@pantone-p-solid-coated-2735: #270089;
@pantone-p-solid-coated-2745: #230871;
@pantone-p-solid-coated-2755: #211161;
@pantone-p-solid-coated-2765: #1f1646;
@pantone-p-solid-coated-7667: #6e7ba1;
@pantone-p-solid-coated-7668: #686ea0;
@pantone-p-solid-coated-7669: #625e9d;
@pantone-p-solid-coated-7670: #575195;
@pantone-p-solid-coated-7671: #534588;
@pantone-p-solid-coated-7672: #4d4185;
@pantone-p-solid-coated-7673: #535487;
@pantone-p-solid-coated-7443: #dddbea;
@pantone-p-solid-coated-7444: #b6b8de;
@pantone-p-solid-coated-7445: #a7a2c2;
@pantone-p-solid-coated-7446: #8b86ca;
@pantone-p-solid-coated-7447: #5f4876;
@pantone-p-solid-coated-7448: #4b384c;
@pantone-p-solid-coated-7449: #43273b;
@pantone-p-solid-coated-7674: #898bb4;
@pantone-p-solid-coated-7675: #7d7fab;
@pantone-p-solid-coated-7676: #7665a0;
@pantone-p-solid-coated-7677: #715192;
@pantone-p-solid-coated-7678: #6a488e;
@pantone-p-solid-coated-7679: #583d81;
@pantone-p-solid-coated-7680: #543278;
@pantone-p-solid-coated-663: #e6e2e7;
@pantone-p-solid-coated-664: #e0dae2;
@pantone-p-solid-coated-665: #c7bcd1;
@pantone-p-solid-coated-666: #a292b3;
@pantone-p-solid-coated-667: #7c6991;
@pantone-p-solid-coated-668: #624c79;
@pantone-p-solid-coated-669: #3f2b56;
@pantone-p-solid-coated-5315: #d9d7df;
@pantone-p-solid-coated-5305: #c6c4d2;
@pantone-p-solid-coated-5295: #b3b0c4;
@pantone-p-solid-coated-5285: #8d89a4;
@pantone-p-solid-coated-5275: #595478;
@pantone-p-solid-coated-5265: #3f3a60;
@pantone-p-solid-coated-5255: #1d1934;
@pantone-p-solid-coated-538: #c5cfdb;
@pantone-p-solid-coated-537: #bac7d8;
@pantone-p-solid-coated-536: #a2b2c9;
@pantone-p-solid-coated-535: #8d9ebd;
@pantone-p-solid-coated-534: #1c355e;
@pantone-p-solid-coated-533: #202945;
@pantone-p-solid-coated-532: #1c1f2a;
@pantone-p-solid-coated-7541: #d9e0e2;
@pantone-p-solid-coated-7542: #a4bcc4;
@pantone-p-solid-coated-7543: #98a4af;
@pantone-p-solid-coated-7544: #768693;
@pantone-p-solid-coated-7545: #415464;
@pantone-p-solid-coated-7546: #253746;
@pantone-p-solid-coated-7547: #131e29;
@pantone-p-solid-coated-552: #bad2dd;
@pantone-p-solid-coated-551: #a3c6d4;
@pantone-p-solid-coated-550: #8cb8ca;
@pantone-p-solid-coated-549: #69a3b9;
@pantone-p-solid-coated-548: #003c4d;
@pantone-p-solid-coated-547: #00303c;
@pantone-p-solid-coated-546: #062a30;
@pantone-p-solid-coated-5455: #becdd6;
@pantone-p-solid-coated-5445: #b8c8d4;
@pantone-p-solid-coated-5435: #a6bbc9;
@pantone-p-solid-coated-5425: #7b98ac;
@pantone-p-solid-coated-5415: #5b7e96;
@pantone-p-solid-coated-5405: #4e748b;
@pantone-p-solid-coated-5395: #081f2d;
@pantone-p-solid-coated-642: #d3dde6;
@pantone-p-solid-coated-643: #c6d5e3;
@pantone-p-solid-coated-644: #9bb7d4;
@pantone-p-solid-coated-645: #7ca0c5;
@pantone-p-solid-coated-646: #5b8ab5;
@pantone-p-solid-coated-647: #236093;
@pantone-p-solid-coated-648: #002d5d;
@pantone-p-solid-coated-649: #dbe2ea;
@pantone-p-solid-coated-650: #ced9e7;
@pantone-p-solid-coated-651: #a7bcd7;
@pantone-p-solid-coated-652: #7d9bc0;
@pantone-p-solid-coated-653: #326195;
@pantone-p-solid-coated-654: #003a70;
@pantone-p-solid-coated-655: #002554;
@pantone-p-solid-coated-656: #dde4ec;
@pantone-p-solid-coated-657: #c9d7ec;
@pantone-p-solid-coated-658: #b1c9ea;
@pantone-p-solid-coated-659: #7aa4dd;
@pantone-p-solid-coated-660: #3d7dca;
@pantone-p-solid-coated-661: #003595;
@pantone-p-solid-coated-662: #001c71;
@pantone-p-solid-coated-7450: #bec4da;
@pantone-p-solid-coated-7451: #88aae3;
@pantone-p-solid-coated-7452: #8094dd;
@pantone-p-solid-coated-7453: #7ba5de;
@pantone-p-solid-coated-7454: #608eb5;
@pantone-p-solid-coated-7455: #385dae;
@pantone-p-solid-coated-7456: #5f6eb3;
@pantone-p-solid-coated-2706: #cbd2eb;
@pantone-p-solid-coated-2716: #9eaee5;
@pantone-p-solid-coated-2726: #435cc8;
@pantone-p-solid-coated-2736: #1226aa;
@pantone-p-solid-coated-2746: #0a1f8f;
@pantone-p-solid-coated-2756: #0f206c;
@pantone-p-solid-coated-2766: #101c4e;
@pantone-p-solid-coated-2708: #b8cceb;
@pantone-p-solid-coated-2718: #5988da;
@pantone-p-solid-coated-2728: #0047bb;
@pantone-p-solid-coated-2738: #000b8c;
@pantone-p-solid-coated-2748: #001a71;
@pantone-p-solid-coated-2758: #001e61;
@pantone-p-solid-coated-2768: #021d49;
@pantone-p-solid-coated-2707: #c3d6ee;
@pantone-p-solid-coated-2717: #a6c6ee;
@pantone-p-solid-coated-2727: #2b7de1;
@pantone-p-solid-coated-blue-072: #000f9f;
@pantone-p-solid-coated-2747: #001a72;
@pantone-p-solid-coated-2757: #001f60;
@pantone-p-solid-coated-2767: #12284c;
@pantone-p-solid-coated-277: #acc9e8;
@pantone-p-solid-coated-278: #8bb8ea;
@pantone-p-solid-coated-279: #3b8ede;
@pantone-p-solid-coated-reflex-blue: #001689;
@pantone-p-solid-coated-280: #002269;
@pantone-p-solid-coated-281: #00205c;
@pantone-p-solid-coated-282: #011e41;
@pantone-p-solid-coated-283: #92c0ea;
@pantone-p-solid-coated-284: #6babe5;
@pantone-p-solid-coated-285: #0071ce;
@pantone-p-solid-coated-286: #0033a1;
@pantone-p-solid-coated-287: #002f87;
@pantone-p-solid-coated-288: #002d74;
@pantone-p-solid-coated-289: #0a2240;
@pantone-p-solid-coated-7681: #94a8cc;
@pantone-p-solid-coated-7682: #6886b8;
@pantone-p-solid-coated-7683: #426ca9;
@pantone-p-solid-coated-7684: #345e9e;
@pantone-p-solid-coated-7685: #2c5697;
@pantone-p-solid-coated-7686: #194f90;
@pantone-p-solid-coated-7687: #1a428a;
@pantone-p-solid-coated-545: #c6dae7;
@pantone-p-solid-coated-544: #bed5e8;
@pantone-p-solid-coated-543: #a3c8e3;
@pantone-p-solid-coated-542: #7baed4;
@pantone-p-solid-coated-541: #003c71;
@pantone-p-solid-coated-540: #003057;
@pantone-p-solid-coated-539: #00263a;
@pantone-p-solid-coated-290: #b9d9ec;
@pantone-p-solid-coated-291: #98caec;
@pantone-p-solid-coated-292: #65b2e9;
@pantone-p-solid-coated-293: #003da7;
@pantone-p-solid-coated-294: #002f6d;
@pantone-p-solid-coated-295: #002856;
@pantone-p-solid-coated-296: #041c2c;
@pantone-p-solid-coated-2905: #8dc7e9;
@pantone-p-solid-coated-2915: #5fb4e5;
@pantone-p-solid-coated-2925: #009bdf;
@pantone-p-solid-coated-2935: #0056b8;
@pantone-p-solid-coated-2945: #004b98;
@pantone-p-solid-coated-2955: #003764;
@pantone-p-solid-coated-2965: #00263e;
@pantone-p-solid-coated-297: #6cc5e9;
@pantone-p-solid-coated-298: #3db5e6;
@pantone-p-solid-coated-299: #00a1e0;
@pantone-p-solid-coated-300: #005db9;
@pantone-p-solid-coated-301: #004a88;
@pantone-p-solid-coated-302: #003a5d;
@pantone-p-solid-coated-303: #002a3a;
@pantone-p-solid-coated-7688: #4298cc;
@pantone-p-solid-coated-7689: #248dc1;
@pantone-p-solid-coated-7690: #0076a9;
@pantone-p-solid-coated-7691: #006098;
@pantone-p-solid-coated-7692: #005587;
@pantone-p-solid-coated-7693: #004877;
@pantone-p-solid-coated-7694: #00426b;
@pantone-p-solid-coated-2975: #96d5ea;
@pantone-p-solid-coated-2985: #55c1e9;
@pantone-p-solid-coated-2995: #00a8e2;
@pantone-p-solid-coated-3005: #0075c9;
@pantone-p-solid-coated-3015: #00609c;
@pantone-p-solid-coated-3025: #004e72;
@pantone-p-solid-coated-3035: #003e52;
@pantone-p-solid-coated-7695: #7ba6bb;
@pantone-p-solid-coated-7696: #6099b0;
@pantone-p-solid-coated-7697: #4d86a0;
@pantone-p-solid-coated-7698: #40748e;
@pantone-p-solid-coated-7699: #33647f;
@pantone-p-solid-coated-7700: #185a7d;
@pantone-p-solid-coated-7701: #005678;
@pantone-p-solid-coated-7457: #badce6;
@pantone-p-solid-coated-7458: #70b1c9;
@pantone-p-solid-coated-7459: #3f97b5;
@pantone-p-solid-coated-7460: #0083c2;
@pantone-p-solid-coated-7461: #007cbb;
@pantone-p-solid-coated-7462: #00548b;
@pantone-p-solid-coated-7463: #002b49;
@pantone-p-solid-coated-304: #97daea;
@pantone-p-solid-coated-305: #54c9e8;
@pantone-p-solid-coated-306: #00b3e3;
@pantone-p-solid-coated-process-blue: #0082ca;
@pantone-p-solid-coated-307: #006aa7;
@pantone-p-solid-coated-308: #00577d;
@pantone-p-solid-coated-309: #003b4a;
@pantone-p-solid-coated-635: #a2dae8;
@pantone-p-solid-coated-636: #88d2e7;
@pantone-p-solid-coated-637: #4bc1e1;
@pantone-p-solid-coated-638: #00add8;
@pantone-p-solid-coated-639: #0094ca;
@pantone-p-solid-coated-640: #0081bc;
@pantone-p-solid-coated-641: #0065a1;
@pantone-p-solid-coated-7702: #43a8c7;
@pantone-p-solid-coated-7703: #009abf;
@pantone-p-solid-coated-7704: #0084ad;
@pantone-p-solid-coated-7705: #006e97;
@pantone-p-solid-coated-7706: #00698f;
@pantone-p-solid-coated-7707: #006080;
@pantone-p-solid-coated-7708: #005570;
@pantone-p-solid-coated-628: #b7dde2;
@pantone-p-solid-coated-629: #98d2dd;
@pantone-p-solid-coated-630: #74c4d6;
@pantone-p-solid-coated-631: #37b0c9;
@pantone-p-solid-coated-632: #0091b3;
@pantone-p-solid-coated-633: #007298;
@pantone-p-solid-coated-634: #005d83;
@pantone-p-solid-coated-310: #64d0e4;
@pantone-p-solid-coated-311: #00c2df;
@pantone-p-solid-coated-312: #00a7cf;
@pantone-p-solid-coated-313: #008fbf;
@pantone-p-solid-coated-314: #007da5;
@pantone-p-solid-coated-315: #006680;
@pantone-p-solid-coated-316: #004750;
@pantone-p-solid-coated-3105: #60d1e0;
@pantone-p-solid-coated-3115: #00bfd7;
@pantone-p-solid-coated-3125: #00acc8;
@pantone-p-solid-coated-3135: #008bac;
@pantone-p-solid-coated-3145: #00758d;
@pantone-p-solid-coated-3155: #006072;
@pantone-p-solid-coated-3165: #004e5a;
@pantone-p-solid-coated-7709: #62b1bd;
@pantone-p-solid-coated-7710: #00a6b6;
@pantone-p-solid-coated-7711: #0096aa;
@pantone-p-solid-coated-7712: #00839b;
@pantone-p-solid-coated-7713: #007b8b;
@pantone-p-solid-coated-7714: #007581;
@pantone-p-solid-coated-7715: #006168;
@pantone-p-solid-coated-317: #afe3e4;
@pantone-p-solid-coated-318: #85dadf;
@pantone-p-solid-coated-319: #1fcbd4;
@pantone-p-solid-coated-320: #0099a9;
@pantone-p-solid-coated-321: #008996;
@pantone-p-solid-coated-322: #007079;
@pantone-p-solid-coated-323: #005e63;
@pantone-p-solid-coated-7464: #a0d0cb;
@pantone-p-solid-coated-7465: #3bbfae;
@pantone-p-solid-coated-7466: #00adbc;
@pantone-p-solid-coated-7467: #00a1b0;
@pantone-p-solid-coated-7468: #007299;
@pantone-p-solid-coated-7469: #005e86;
@pantone-p-solid-coated-7470: #005870;
@pantone-p-solid-coated-7471: #7bdcd5;
@pantone-p-solid-coated-7472: #58b7b3;
@pantone-p-solid-coated-7473: #19988b;
@pantone-p-solid-coated-7474: #007582;
@pantone-p-solid-coated-7475: #457a7c;
@pantone-p-solid-coated-7476: #035157;
@pantone-p-solid-coated-7477: #244c5a;
@pantone-p-solid-coated-5523: #b6ced1;
@pantone-p-solid-coated-5513: #abc6ca;
@pantone-p-solid-coated-5503: #92b7bc;
@pantone-p-solid-coated-5493: #7da8ae;
@pantone-p-solid-coated-5483: #4c868f;
@pantone-p-solid-coated-5473: #035d67;
@pantone-p-solid-coated-5463: #06262d;
@pantone-p-solid-coated-7716: #009491;
@pantone-p-solid-coated-7717: #00837e;
@pantone-p-solid-coated-7718: #007574;
@pantone-p-solid-coated-7719: #006c68;
@pantone-p-solid-coated-7720: #00625c;
@pantone-p-solid-coated-7721: #005c5e;
@pantone-p-solid-coated-7722: #004f51;
@pantone-p-solid-coated-324: #9adada;
@pantone-p-solid-coated-325: #63cbca;
@pantone-p-solid-coated-326: #00afab;
@pantone-p-solid-coated-327: #008476;
@pantone-p-solid-coated-328: #007167;
@pantone-p-solid-coated-329: #00665f;
@pantone-p-solid-coated-330: #00524c;
@pantone-p-solid-coated-3242: #6cdbd6;
@pantone-p-solid-coated-3252: #12d0ca;
@pantone-p-solid-coated-3262: #00bcb5;
@pantone-p-solid-coated-3272: #00a19c;
@pantone-p-solid-coated-3282: #00837c;
@pantone-p-solid-coated-3292: #005851;
@pantone-p-solid-coated-3302: #004c46;
@pantone-p-solid-coated-3245: #78dfd5;
@pantone-p-solid-coated-3255: #1bd4c6;
@pantone-p-solid-coated-3265: #00c4b4;
@pantone-p-solid-coated-3275: #00b09b;
@pantone-p-solid-coated-3285: #009483;
@pantone-p-solid-coated-3295: #007565;
@pantone-p-solid-coated-3305: #004d43;
@pantone-p-solid-coated-3248: #6cccb9;
@pantone-p-solid-coated-3258: #46c3b2;
@pantone-p-solid-coated-3268: #00aa90;
@pantone-p-solid-coated-3278: #009878;
@pantone-p-solid-coated-3288: #008065;
@pantone-p-solid-coated-3298: #006853;
@pantone-p-solid-coated-3308: #004538;
@pantone-p-solid-coated-566: #b6dcd3;
@pantone-p-solid-coated-565: #9ed5cb;
@pantone-p-solid-coated-564: #81c8bd;
@pantone-p-solid-coated-563: #66bbb0;
@pantone-p-solid-coated-562: #006e63;
@pantone-p-solid-coated-561: #00594e;
@pantone-p-solid-coated-560: #1a3c34;
@pantone-p-solid-coated-573: #b3e2d9;
@pantone-p-solid-coated-572: #a1dfd3;
@pantone-p-solid-coated-571: #93dbd0;
@pantone-p-solid-coated-570: #67c9bb;
@pantone-p-solid-coated-569: #00806e;
@pantone-p-solid-coated-568: #006b5b;
@pantone-p-solid-coated-567: #153e35;
@pantone-p-solid-coated-559: #aecab9;
@pantone-p-solid-coated-558: #9abdab;
@pantone-p-solid-coated-557: #86b09b;
@pantone-p-solid-coated-556: #6fa088;
@pantone-p-solid-coated-555: #2b7050;
@pantone-p-solid-coated-554: #205b41;
@pantone-p-solid-coated-553: #294635;
@pantone-p-solid-coated-5595: #becec4;
@pantone-p-solid-coated-5585: #a5bdb1;
@pantone-p-solid-coated-5575: #91aba1;
@pantone-p-solid-coated-5565: #7d9d92;
@pantone-p-solid-coated-5555: #5a7f72;
@pantone-p-solid-coated-5545: #42695c;
@pantone-p-solid-coated-5535: #163029;
@pantone-p-solid-coated-5665: #bbc5ba;
@pantone-p-solid-coated-5655: #b1bdb0;
@pantone-p-solid-coated-5645: #a3b1a4;
@pantone-p-solid-coated-5635: #94a497;
@pantone-p-solid-coated-5625: #718473;
@pantone-p-solid-coated-5615: #5e7361;
@pantone-p-solid-coated-5605: #21372c;
@pantone-p-solid-coated-5527: #bbc8c5;
@pantone-p-solid-coated-5517: #b1c0bc;
@pantone-p-solid-coated-5507: #9cafac;
@pantone-p-solid-coated-5497: #849895;
@pantone-p-solid-coated-5487: #5e7875;
@pantone-p-solid-coated-5477: #3e5c59;
@pantone-p-solid-coated-5467: #19322f;
@pantone-p-solid-coated-621: #cfe0d8;
@pantone-p-solid-coated-622: #b7cdc3;
@pantone-p-solid-coated-623: #99b9ae;
@pantone-p-solid-coated-624: #779e91;
@pantone-p-solid-coated-625: #4e7f71;
@pantone-p-solid-coated-626: #245c4e;
@pantone-p-solid-coated-627: #10322c;
@pantone-p-solid-coated-331: #a5e6da;
@pantone-p-solid-coated-332: #88e2d2;
@pantone-p-solid-coated-333: #2fd9c4;
@pantone-p-solid-coated-green: #00a888;
@pantone-p-solid-coated-334: #009579;
@pantone-p-solid-coated-335: #007a61;
@pantone-p-solid-coated-336: #006450;
@pantone-p-solid-coated-337: #8ed5be;
@pantone-p-solid-coated-338: #6ccdb3;
@pantone-p-solid-coated-339: #00b289;
@pantone-p-solid-coated-340: #00945f;
@pantone-p-solid-coated-341: #007953;
@pantone-p-solid-coated-342: #006648;
@pantone-p-solid-coated-343: #095640;
@pantone-p-solid-coated-7723: #4ca686;
@pantone-p-solid-coated-7724: #00956e;
@pantone-p-solid-coated-7725: #008656;
@pantone-p-solid-coated-7726: #007a4c;
@pantone-p-solid-coated-7727: #006e47;
@pantone-p-solid-coated-7728: #006746;
@pantone-p-solid-coated-7729: #005745;
@pantone-p-solid-coated-3375: #75e1c2;
@pantone-p-solid-coated-3385: #3cd5af;
@pantone-p-solid-coated-3395: #00c18c;
@pantone-p-solid-coated-3405: #00ad69;
@pantone-p-solid-coated-3415: #00754a;
@pantone-p-solid-coated-3425: #006241;
@pantone-p-solid-coated-3435: #124734;
@pantone-p-solid-coated-344: #9fd9b4;
@pantone-p-solid-coated-345: #91d5ad;
@pantone-p-solid-coated-346: #6ccb99;
@pantone-p-solid-coated-347: #009946;
@pantone-p-solid-coated-348: #00833f;
@pantone-p-solid-coated-349: #006938;
@pantone-p-solid-coated-350: #2a5135;
@pantone-p-solid-coated-351: #a1e3bb;
@pantone-p-solid-coated-352: #8be1b1;
@pantone-p-solid-coated-353: #7adfa9;
@pantone-p-solid-coated-354: #00af42;
@pantone-p-solid-coated-355: #00953b;
@pantone-p-solid-coated-356: #007935;
@pantone-p-solid-coated-357: #1a5632;
@pantone-p-solid-coated-7478: #96e2c0;
@pantone-p-solid-coated-7479: #00ce7d;
@pantone-p-solid-coated-7480: #00bd71;
@pantone-p-solid-coated-7481: #00b551;
@pantone-p-solid-coated-7482: #009d4f;
@pantone-p-solid-coated-7483: #225d39;
@pantone-p-solid-coated-7484: #005740;
@pantone-p-solid-coated-7730: #4a9463;
@pantone-p-solid-coated-7731: #1e864a;
@pantone-p-solid-coated-7732: #00783f;
@pantone-p-solid-coated-7733: #006f43;
@pantone-p-solid-coated-7734: #266141;
@pantone-p-solid-coated-7735: #36573d;
@pantone-p-solid-coated-7736: #375543;
@pantone-p-solid-coated-7737: #6ba53a;
@pantone-p-solid-coated-7738: #45a142;
@pantone-p-solid-coated-7739: #2c9a42;
@pantone-p-solid-coated-7740: #349041;
@pantone-p-solid-coated-7741: #408740;
@pantone-p-solid-coated-7742: #48773c;
@pantone-p-solid-coated-7743: #40693d;
@pantone-p-solid-coated-358: #abdb92;
@pantone-p-solid-coated-359: #a1d784;
@pantone-p-solid-coated-360: #6bc04b;
@pantone-p-solid-coated-361: #3daf2c;
@pantone-p-solid-coated-362: #4c9d2f;
@pantone-p-solid-coated-363: #4a8b2c;
@pantone-p-solid-coated-364: #497629;
@pantone-p-solid-coated-7485: #d0debc;
@pantone-p-solid-coated-7486: #bbe094;
@pantone-p-solid-coated-7487: #8add66;
@pantone-p-solid-coated-7488: #71d54c;
@pantone-p-solid-coated-7489: #72a951;
@pantone-p-solid-coated-7490: #72984b;
@pantone-p-solid-coated-7491: #79853c;
@pantone-p-solid-coated-365: #c1e089;
@pantone-p-solid-coated-366: #b6dd7a;
@pantone-p-solid-coated-367: #a3d55f;
@pantone-p-solid-coated-368: #76bd22;
@pantone-p-solid-coated-369: #62a70f;
@pantone-p-solid-coated-370: #638c1c;
@pantone-p-solid-coated-371: #546223;
@pantone-p-solid-coated-372: #d3eb8f;
@pantone-p-solid-coated-373: #cce981;
@pantone-p-solid-coated-374: #c3e86c;
@pantone-p-solid-coated-375: #94d600;
@pantone-p-solid-coated-376: #81bc00;
@pantone-p-solid-coated-377: #789a05;
@pantone-p-solid-coated-378: #59621d;
@pantone-p-solid-coated-580: #c5d5a5;
@pantone-p-solid-coated-579: #bed09c;
@pantone-p-solid-coated-578: #b7ce97;
@pantone-p-solid-coated-577: #abc380;
@pantone-p-solid-coated-576: #799c4b;
@pantone-p-solid-coated-575: #69813c;
@pantone-p-solid-coated-574: #4d5a31;
@pantone-p-solid-coated-5807: #d0d1ab;
@pantone-p-solid-coated-5797: #c6c89c;
@pantone-p-solid-coated-5787: #babd8b;
@pantone-p-solid-coated-5777: #a2a568;
@pantone-p-solid-coated-5767: #8b8d4a;
@pantone-p-solid-coated-5757: #6c702f;
@pantone-p-solid-coated-5747: #3d441d;
@pantone-p-solid-coated-5875: #d4ce9f;
@pantone-p-solid-coated-5865: #ccc794;
@pantone-p-solid-coated-5855: #c0bb87;
@pantone-p-solid-coated-5845: #b0aa6f;
@pantone-p-solid-coated-5835: #a19958;
@pantone-p-solid-coated-5825: #8b813c;
@pantone-p-solid-coated-5815: #565025;
@pantone-p-solid-coated-5803: #c3c7a8;
@pantone-p-solid-coated-5793: #b4b896;
@pantone-p-solid-coated-5783: #a4aa84;
@pantone-p-solid-coated-5773: #899065;
@pantone-p-solid-coated-5763: #757b4e;
@pantone-p-solid-coated-5753: #5f6738;
@pantone-p-solid-coated-5743: #3f4828;
@pantone-p-solid-coated-7492: #c1cb80;
@pantone-p-solid-coated-7493: #bcc493;
@pantone-p-solid-coated-7494: #9bae89;
@pantone-p-solid-coated-7495: #90993f;
@pantone-p-solid-coated-7496: #76881e;
@pantone-p-solid-coated-7497: #7a7257;
@pantone-p-solid-coated-7498: #5c6236;
@pantone-p-solid-coated-7744: #babc18;
@pantone-p-solid-coated-7745: #aaac24;
@pantone-p-solid-coated-7746: #9a9b32;
@pantone-p-solid-coated-7747: #8a8d32;
@pantone-p-solid-coated-7748: #7d8036;
@pantone-p-solid-coated-7749: #737337;
@pantone-p-solid-coated-7750: #666636;
@pantone-p-solid-coated-379: #e2e768;
@pantone-p-solid-coated-380: #dbe444;
@pantone-p-solid-coated-381: #cedb00;
@pantone-p-solid-coated-382: #c3d600;
@pantone-p-solid-coated-383: #a9ad00;
@pantone-p-solid-coated-384: #959300;
@pantone-p-solid-coated-385: #797121;
@pantone-p-solid-coated-386: #ebeb6d;
@pantone-p-solid-coated-387: #e3e836;
@pantone-p-solid-coated-388: #e1e723;
@pantone-p-solid-coated-389: #cedf00;
@pantone-p-solid-coated-390: #b5be00;
@pantone-p-solid-coated-391: #999500;
@pantone-p-solid-coated-392: #827a06;
@pantone-p-solid-coated-587: #e4e38d;
@pantone-p-solid-coated-586: #e2e27d;
@pantone-p-solid-coated-585: #ddde70;
@pantone-p-solid-coated-584: #d4d756;
@pantone-p-solid-coated-583: #b9bf15;
@pantone-p-solid-coated-582: #908c13;
@pantone-p-solid-coated-581: #645d22;
@pantone-p-solid-coated-393: #f1ed74;
@pantone-p-solid-coated-394: #eee93b;
@pantone-p-solid-coated-395: #ece819;
@pantone-p-solid-coated-396: #e1e000;
@pantone-p-solid-coated-397: #c0b900;
@pantone-p-solid-coated-398: #aca400;
@pantone-p-solid-coated-399: #a19200;
@pantone-p-solid-coated-3935: #f4e95d;
@pantone-p-solid-coated-3945: #f4e600;
@pantone-p-solid-coated-3955: #f1e000;
@pantone-p-solid-coated-3965: #eedc00;
@pantone-p-solid-coated-3975: #bda700;
@pantone-p-solid-coated-3985: #9a8600;
@pantone-p-solid-coated-3995: #6a5c21;
@pantone-p-solid-coated-600: #f1eb9c;
@pantone-p-solid-coated-601: #f1e890;
@pantone-p-solid-coated-602: #f1e87c;
@pantone-p-solid-coated-603: #efe14b;
@pantone-p-solid-coated-604: #edda26;
@pantone-p-solid-coated-605: #e1cd00;
@pantone-p-solid-coated-606: #d0b500;
@pantone-p-solid-coated-607: #ede59b;
@pantone-p-solid-coated-608: #e9e187;
@pantone-p-solid-coated-609: #e8dd77;
@pantone-p-solid-coated-610: #e2d456;
@pantone-p-solid-coated-611: #d8c825;
@pantone-p-solid-coated-612: #c6b100;
@pantone-p-solid-coated-613: #b59b00;
@pantone-p-solid-coated-461: #ebdf99;
@pantone-p-solid-coated-460: #e7d780;
@pantone-p-solid-coated-459: #dfcd63;
@pantone-p-solid-coated-458: #dbc656;
@pantone-p-solid-coated-457: #ba9d17;
@pantone-p-solid-coated-456: #a48e2a;
@pantone-p-solid-coated-455: #6b5a24;
@pantone-p-solid-coated-614: #dcd59a;
@pantone-p-solid-coated-615: #d6ce8e;
@pantone-p-solid-coated-616: #d1c782;
@pantone-p-solid-coated-617: #c1b561;
@pantone-p-solid-coated-618: #ad9e3d;
@pantone-p-solid-coated-619: #9f912a;
@pantone-p-solid-coated-620: #8b7b18;
@pantone-p-solid-coated-7751: #cbb54c;
@pantone-p-solid-coated-7752: #d1af22;
@pantone-p-solid-coated-7753: #c3a11f;
@pantone-p-solid-coated-7754: #a28629;
@pantone-p-solid-coated-7755: #8b7631;
@pantone-p-solid-coated-7756: #736736;
@pantone-p-solid-coated-7757: #695d33;
@pantone-p-solid-coated-7758: #d5c303;
@pantone-p-solid-coated-7759: #c5b200;
@pantone-p-solid-coated-7760: #93842d;
@pantone-p-solid-coated-7761: #757136;
@pantone-p-solid-coated-7762: #5d6339;
@pantone-p-solid-coated-7763: #5a5b3c;
@pantone-p-solid-coated-7764: #545435;
@pantone-p-solid-coated-7765: #bbb322;
@pantone-p-solid-coated-7766: #b5a91f;
@pantone-p-solid-coated-7767: #aa9d2e;
@pantone-p-solid-coated-7768: #8e7f35;
@pantone-p-solid-coated-7769: #716134;
@pantone-p-solid-coated-7770: #635a38;
@pantone-p-solid-coated-7771: #4e4a34;
@pantone-p-solid-coated-4545: #d5ca9f;
@pantone-p-solid-coated-4535: #d0c493;
@pantone-p-solid-coated-4525: #c7b784;
@pantone-p-solid-coated-4515: #b5a36a;
@pantone-p-solid-coated-4505: #9a8543;
@pantone-p-solid-coated-4495: #8d7732;
@pantone-p-solid-coated-4485: #634f26;
@pantone-p-solid-coated-454: #cdc5a7;
@pantone-p-solid-coated-453: #c3ba99;
@pantone-p-solid-coated-452: #b2a87f;
@pantone-p-solid-coated-451: #9e925f;
@pantone-p-solid-coated-450: #5b4a26;
@pantone-p-solid-coated-449: #544627;
@pantone-p-solid-coated-448: #4c412a;
@pantone-p-solid-coated-7499: #f2e5b3;
@pantone-p-solid-coated-7500: #e1d1a7;
@pantone-p-solid-coated-7501: #dac79f;
@pantone-p-solid-coated-7502: #d1b888;
@pantone-p-solid-coated-7503: #aa9868;
@pantone-p-solid-coated-7504: #96785e;
@pantone-p-solid-coated-7505: #826140;
@pantone-p-solid-coated-468: #decaa4;
@pantone-p-solid-coated-467: #d5bb8d;
@pantone-p-solid-coated-466: #c9a978;
@pantone-p-solid-coated-465: #bd965c;
@pantone-p-solid-coated-464: #8f5a28;
@pantone-p-solid-coated-463: #774e29;
@pantone-p-solid-coated-462: #5e462b;
@pantone-p-solid-coated-7506: #f3dbb3;
@pantone-p-solid-coated-7507: #fdd29a;
@pantone-p-solid-coated-7508: #e2b87f;
@pantone-p-solid-coated-7509: #d8a462;
@pantone-p-solid-coated-7510: #c78a3e;
@pantone-p-solid-coated-7511: #ba7828;
@pantone-p-solid-coated-7512: #a8641a;
@pantone-p-solid-coated-719: #eec8a2;
@pantone-p-solid-coated-720: #e9b88b;
@pantone-p-solid-coated-721: #dfa46e;
@pantone-p-solid-coated-722: #cb8342;
@pantone-p-solid-coated-723: #b46b21;
@pantone-p-solid-coated-724: #954f10;
@pantone-p-solid-coated-725: #7e4115;
@pantone-p-solid-coated-475: #f3d0b3;
@pantone-p-solid-coated-474: #f3c7a7;
@pantone-p-solid-coated-473: #f4bf9b;
@pantone-p-solid-coated-472: #e79e6d;
@pantone-p-solid-coated-471: #bc6225;
@pantone-p-solid-coated-470: #a65a2a;
@pantone-p-solid-coated-469: #6a4024;
@pantone-p-solid-coated-726: #e1c29f;
@pantone-p-solid-coated-727: #dbb48e;
@pantone-p-solid-coated-728: #cea176;
@pantone-p-solid-coated-729: #b68250;
@pantone-p-solid-coated-730: #a0672e;
@pantone-p-solid-coated-731: #784311;
@pantone-p-solid-coated-732: #633510;
@pantone-p-solid-coated-4685: #e0c6ad;
@pantone-p-solid-coated-4675: #ddc0a6;
@pantone-p-solid-coated-4665: #cea888;
@pantone-p-solid-coated-4655: #c19474;
@pantone-p-solid-coated-4645: #af7d58;
@pantone-p-solid-coated-4635: #976036;
@pantone-p-solid-coated-4625: #512c1e;
@pantone-p-solid-coated-7513: #e2b7a6;
@pantone-p-solid-coated-7514: #d7a386;
@pantone-p-solid-coated-7515: #c78c67;
@pantone-p-solid-coated-7516: #9b552b;
@pantone-p-solid-coated-7517: #88441d;
@pantone-p-solid-coated-7518: #6f4f47;
@pantone-p-solid-coated-7519: #5f4b3d;
@pantone-p-solid-coated-4755: #dac3b7;
@pantone-p-solid-coated-4745: #cfb5a8;
@pantone-p-solid-coated-4735: #c2a392;
@pantone-p-solid-coated-4725: #b18979;
@pantone-p-solid-coated-4715: #996b59;
@pantone-p-solid-coated-4705: #804d3b;
@pantone-p-solid-coated-4695: #5d3428;
@pantone-p-solid-coated-482: #ddc8b7;
@pantone-p-solid-coated-481: #d6baa8;
@pantone-p-solid-coated-480: #c9a892;
@pantone-p-solid-coated-479: #ae8067;
@pantone-p-solid-coated-478: #753e2a;
@pantone-p-solid-coated-477: #653b2b;
@pantone-p-solid-coated-476: #503629;
@pantone-p-solid-coated-7527: #d7d2c5;
@pantone-p-solid-coated-7528: #c6b9ad;
@pantone-p-solid-coated-7529: #b7a99a;
@pantone-p-solid-coated-7530: #a49483;
@pantone-p-solid-coated-7531: #7c6856;
@pantone-p-solid-coated-7532: #64513d;
@pantone-p-solid-coated-7533: #483729;
@pantone-p-solid-coated-7534: #d2cdbe;
@pantone-p-solid-coated-7535: #b7b09d;
@pantone-p-solid-coated-7536: #a7a089;
@pantone-p-solid-coated-7537: #a8aca1;
@pantone-p-solid-coated-7538: #939a90;
@pantone-p-solid-coated-7539: #8e8f89;
@pantone-p-solid-coated-7540: #4a4f55;
@pantone-p-solid-coated-427: #d0d3d4;
@pantone-p-solid-coated-428: #c2c6c9;
@pantone-p-solid-coated-429: #a3aaae;
@pantone-p-solid-coated-430: #7c868d;
@pantone-p-solid-coated-431: #5b6770;
@pantone-p-solid-coated-432: #323e48;
@pantone-p-solid-coated-433: #1d252c;
@pantone-p-solid-coated-420: #c9c8c8;
@pantone-p-solid-coated-421: #b1b4b3;
@pantone-p-solid-coated-422: #9fa2a3;
@pantone-p-solid-coated-423: #898c8d;
@pantone-p-solid-coated-424: #707271;
@pantone-p-solid-coated-425: #54575a;
@pantone-p-solid-coated-426: #24282a;
@pantone-p-solid-coated-441: #bcc7c4;
@pantone-p-solid-coated-442: #9facab;
@pantone-p-solid-coated-443: #8f9d9d;
@pantone-p-solid-coated-444: #6f7c7d;
@pantone-p-solid-coated-445: #4e5859;
@pantone-p-solid-coated-446: #3d4543;
@pantone-p-solid-coated-447: #373a36;
@pantone-p-solid-coated-413: #bbbab0;
@pantone-p-solid-coated-414: #aaa99f;
@pantone-p-solid-coated-415: #919389;
@pantone-p-solid-coated-416: #7e7f74;
@pantone-p-solid-coated-417: #65675e;
@pantone-p-solid-coated-418: #51534a;
@pantone-p-solid-coated-419: #212322;
@pantone-p-solid-coated-400: #c5bfb7;
@pantone-p-solid-coated-401: #b0aaa0;
@pantone-p-solid-coated-402: #9e958c;
@pantone-p-solid-coated-403: #8c847b;
@pantone-p-solid-coated-404: #776e64;
@pantone-p-solid-coated-405: #686158;
@pantone-p-solid-coated-black: #2d2a26;
@pantone-p-solid-coated-406: #c6bcb6;
@pantone-p-solid-coated-407: #b1a8a2;
@pantone-p-solid-coated-408: #988c88;
@pantone-p-solid-coated-409: #867875;
@pantone-p-solid-coated-410: #756762;
@pantone-p-solid-coated-411: #5f504e;
@pantone-p-solid-coated-412: #382f2d;
@pantone-p-solid-coated-434: #d0c5c6;
@pantone-p-solid-coated-435: #c0b3b6;
@pantone-p-solid-coated-436: #aa999d;
@pantone-p-solid-coated-437: #7a6569;
@pantone-p-solid-coated-438: #574545;
@pantone-p-solid-coated-439: #443635;
@pantone-p-solid-coated-440: #372e2c;
@pantone-p-solid-coated-warm-gray-1: #d7d2cb;
@pantone-p-solid-coated-warm-gray-2: #ccc4bc;
@pantone-p-solid-coated-warm-gray-3: #c0b8b0;
@pantone-p-solid-coated-warm-gray-4: #b5ada6;
@pantone-p-solid-coated-warm-gray-5: #ada29a;
@pantone-p-solid-coated-warm-gray-6: #a69c95;
@pantone-p-solid-coated-warm-gray-7: #968c83;
@pantone-p-solid-coated-warm-gray-8: #8d827a;
@pantone-p-solid-coated-warm-gray-9: #847870;
@pantone-p-solid-coated-warm-gray-10: #7a6e67;
@pantone-p-solid-coated-warm-gray-11: #6f625a;
@pantone-p-solid-coated-cool-gray-1: #dad9d7;
@pantone-p-solid-coated-cool-gray-2: #d1d0ce;
@pantone-p-solid-coated-cool-gray-3: #c9c8c8;
@pantone-p-solid-coated-cool-gray-4: #bcbcbc;
@pantone-p-solid-coated-cool-gray-5: #b2b2b2;
@pantone-p-solid-coated-cool-gray-6: #a8a8aa;
@pantone-p-solid-coated-cool-gray-7: #98999b;
@pantone-p-solid-coated-cool-gray-8: #898b8e;
@pantone-p-solid-coated-cool-gray-9: #76777b;
@pantone-p-solid-coated-cool-gray-10: #63656a;
@pantone-p-solid-coated-cool-gray-11: #54565b;
@pantone-p-solid-coated-black-2: #332e20;
@pantone-p-solid-coated-black-3: #212721;
@pantone-p-solid-coated-black-4: #30261d;
@pantone-p-solid-coated-black-5: #3f2b2f;
@pantone-p-solid-coated-black-6: #0f1820;
@pantone-p-solid-coated-black-7: #3d3935;