// avery900supercast-pantone
@avery900supercast-pantone-100-c: #f7ef7d;
@avery900supercast-pantone-yellow-c: #fbd500;
@avery900supercast-pantone-109-c: #f7ce00;
@avery900supercast-pantone-123-c: #fac629;
@avery900supercast-pantone-124-c: #e6a900;
@avery900supercast-pantone-155-c: #f1daae;
@avery900supercast-pantone-137-c: #f69d00;
@avery900supercast-pantone-151-c: #f17600;
@avery900supercast-pantone-165-c: #f0630a;
@avery900supercast-pantone-orange-021-c: #f05b00;
@avery900supercast-pantone-warm-red-c: #e5482c;
@avery900supercast-pantone-179-c: #dc3d2c;
@avery900supercast-pantone-169-c: #ffbbae;
@avery900supercast-pantone-red-032-c: #da3d3d;
@avery900supercast-pantone-185-c: #d93c44;
@avery900supercast-pantone-186-c: #cc293c;
@avery900supercast-pantone-193-c: #b90e34;
@avery900supercast-pantone-200-c: #bd203b;
@avery900supercast-pantone-201-c: #94222e;
@avery900supercast-pantone-188-c: #7a2831;
@avery900supercast-pantone-209-c: #6f2939;
@avery900supercast-pantone-189-c: #f5aabf;
@avery900supercast-pantone-207-c: #a51238;
@avery900supercast-pantone-220-c: #a31c50;
@avery900supercast-pantone-208-c: #8d2542;
@avery900supercast-pantone-211-c: #f387b7;
@avery900supercast-pantone-254-c: #913498;
@avery900supercast-pantone-292-c: #7bbbe4;
@avery900supercast-pantone-279-c: #639dde;
@avery900supercast-pantone-290-c: #c6ddea;
@avery900supercast-pantone-285-c: #2d89d3;
@avery900supercast-pantone-293-c: #005fb7;
@avery900supercast-pantone-541-c: #004371;
@avery900supercast-pantone-281-c: #003069;
@avery900supercast-pantone-297-c: #8cd3f1;
@avery900supercast-pantone-299-c: #15aedb;
@avery900supercast-pantone-542-c: #629cc6;
@avery900supercast-pantone-301-c: #005c93;
@avery900supercast-pantone-540-c: #003253;
@avery900supercast-pantone-307-c: #0080b4;
@avery900supercast-pantone-549-c: #629eaf;
@avery900supercast-pantone-308-c: #006281;
@avery900supercast-pantone-302-c: #004d71;
@avery900supercast-pantone-548-c: #004653;
@avery900supercast-pantone-317-c: #c4e7e6;
@avery900supercast-pantone-326-c: #00b7ac;
@avery900supercast-pantone-320-c: #00a2a9;
@avery900supercast-pantone-315-c: #007388;
@avery900supercast-pantone-321-c: #008a8c;
@avery900supercast-pantone-327-c: #008873;
@avery900supercast-pantone-328-c: #007966;
@avery900supercast-pantone-340-c: #00935d;
@avery900supercast-pantone-341-c: #007b50;
@avery900supercast-pantone-343-c: #13543b;
@avery900supercast-pantone-351-c: #afe4bd;
@avery900supercast-pantone-354-c: #00ad36;
@avery900supercast-pantone-368-c: #6db80b;
@avery900supercast-pantone-347-c: #00a04c;
@avery900supercast-pantone-355-c: #00962a;
@avery900supercast-pantone-348-c: #00883f;
@avery900supercast-pantone-349-c: #006d37;
@avery900supercast-pantone-877-c: #9da1a2;
@avery900supercast-pantone-428-c: #cccfcd;
@avery900supercast-pantone-429-c: #b0b4b3;
@avery900supercast-pantone-430-c: #8e9495;
@avery900supercast-pantone-431-c: #697176;
@avery900supercast-pantone-432-c: #4f575c;
@avery900supercast-pantone-873-c: #8a6c39;
@avery900supercast-pantone-423-c: #929490;
@avery900supercast-pantone-424-c: #7c7d7a;
@avery900supercast-pantone-404-c: #776f62;
@avery900supercast-pantone-410-c: #7a6a62;
@avery900supercast-pantone-425-c: #5c5d5b;
@avery900supercast-pantone-468-c: #e0d8bb;
@avery900supercast-pantone-466-c: #cbba8b;
@avery900supercast-pantone-472-c: #e3a06f;
@avery900supercast-pantone-471-c: #b5571b;
@avery900supercast-pantone-154-c: #955207;
@avery900supercast-pantone-470-c: #954a1a;
@avery900supercast-pantone-469-c: #5b301c;