// pantone-p-premium-metallics-coated
@pantone-p-premium-metallics-coated-10101: #d5d5d5;
@pantone-p-premium-metallics-coated-10102: #c4c4c4;
@pantone-p-premium-metallics-coated-10103: #b8bbbc;
@pantone-p-premium-metallics-coated-10104: #acafb1;
@pantone-p-premium-metallics-coated-10105: #aaadae;
@pantone-p-premium-metallics-coated-silver: #a6a9aa;
@pantone-p-premium-metallics-coated-10106: #acab75;
@pantone-p-premium-metallics-coated-10107: #aeaa63;
@pantone-p-premium-metallics-coated-10108: #b0ab4f;
@pantone-p-premium-metallics-coated-10109: #b3a93c;
@pantone-p-premium-metallics-coated-10110: #b7ab25;
@pantone-p-premium-metallics-coated-10111: #c0b000;
@pantone-p-premium-metallics-coated-10112: #abaa88;
@pantone-p-premium-metallics-coated-10113: #aca86f;
@pantone-p-premium-metallics-coated-10114: #aea75d;
@pantone-p-premium-metallics-coated-10115: #b1a549;
@pantone-p-premium-metallics-coated-10116: #b6a538;
@pantone-p-premium-metallics-coated-10117: #bba320;
@pantone-p-premium-metallics-coated-10118: #afa46f;
@pantone-p-premium-metallics-coated-10119: #b1a15c;
@pantone-p-premium-metallics-coated-10120: #b79e4b;
@pantone-p-premium-metallics-coated-10121: #bb9a38;
@pantone-p-premium-metallics-coated-10122: #c09724;
@pantone-p-premium-metallics-coated-10123: #ca9501;
@pantone-p-premium-metallics-coated-10124: #aba275;
@pantone-p-premium-metallics-coated-10125: #ad9d64;
@pantone-p-premium-metallics-coated-10126: #ae9753;
@pantone-p-premium-metallics-coated-10127: #b19143;
@pantone-p-premium-metallics-coated-10128: #b58b33;
@pantone-p-premium-metallics-coated-10129: #bc8523;
@pantone-p-premium-metallics-coated-10130: #b39171;
@pantone-p-premium-metallics-coated-10131: #b0855c;
@pantone-p-premium-metallics-coated-10132: #b27e4c;
@pantone-p-premium-metallics-coated-10133: #ae733c;
@pantone-p-premium-metallics-coated-10134: #aa6b2d;
@pantone-p-premium-metallics-coated-10135: #a76420;
@pantone-p-premium-metallics-coated-10136: #ae9c8a;
@pantone-p-premium-metallics-coated-10137: #af8f73;
@pantone-p-premium-metallics-coated-10138: #ad845e;
@pantone-p-premium-metallics-coated-10139: #aa794d;
@pantone-p-premium-metallics-coated-10140: #a9713f;
@pantone-p-premium-metallics-coated-10141: #a26731;
@pantone-p-premium-metallics-coated-10142: #b98f6c;
@pantone-p-premium-metallics-coated-10143: #bd8458;
@pantone-p-premium-metallics-coated-10144: #c07b47;
@pantone-p-premium-metallics-coated-10145: #c47335;
@pantone-p-premium-metallics-coated-10146: #c86a25;
@pantone-p-premium-metallics-coated-10147: #cd6313;
@pantone-p-premium-metallics-coated-10148: #ba877a;
@pantone-p-premium-metallics-coated-10149: #bd7b69;
@pantone-p-premium-metallics-coated-10150: #c17058;
@pantone-p-premium-metallics-coated-10151: #c26548;
@pantone-p-premium-metallics-coated-10152: #c75c39;
@pantone-p-premium-metallics-coated-10153: #cd5328;
@pantone-p-premium-metallics-coated-10154: #b09690;
@pantone-p-premium-metallics-coated-10155: #b1867c;
@pantone-p-premium-metallics-coated-10156: #b2776a;
@pantone-p-premium-metallics-coated-10157: #b2695b;
@pantone-p-premium-metallics-coated-10158: #b35c4c;
@pantone-p-premium-metallics-coated-10159: #b64f41;
@pantone-p-premium-metallics-coated-10160: #bc7f90;
@pantone-p-premium-metallics-coated-10161: #be7082;
@pantone-p-premium-metallics-coated-10162: #be6274;
@pantone-p-premium-metallics-coated-10163: #c15564;
@pantone-p-premium-metallics-coated-10164: #c44d58;
@pantone-p-premium-metallics-coated-10165: #c84348;
@pantone-p-premium-metallics-coated-10166: #b47c93;
@pantone-p-premium-metallics-coated-10167: #b66b87;
@pantone-p-premium-metallics-coated-10168: #b65c7b;
@pantone-p-premium-metallics-coated-10169: #b64d6f;
@pantone-p-premium-metallics-coated-10170: #b83e63;
@pantone-p-premium-metallics-coated-10171: #bb2d53;
@pantone-p-premium-metallics-coated-10172: #a77c9c;
@pantone-p-premium-metallics-coated-10173: #a76d93;
@pantone-p-premium-metallics-coated-10174: #a85f8d;
@pantone-p-premium-metallics-coated-10175: #a75083;
@pantone-p-premium-metallics-coated-10176: #ab427a;
@pantone-p-premium-metallics-coated-10177: #ae336f;
@pantone-p-premium-metallics-coated-10178: #b28ca4;
@pantone-p-premium-metallics-coated-10179: #b17e9c;
@pantone-p-premium-metallics-coated-10180: #b37096;
@pantone-p-premium-metallics-coated-10181: #b3638e;
@pantone-p-premium-metallics-coated-10182: #b45486;
@pantone-p-premium-metallics-coated-10183: #b8487f;
@pantone-p-premium-metallics-coated-10184: #ae90a9;
@pantone-p-premium-metallics-coated-10185: #b083a5;
@pantone-p-premium-metallics-coated-10186: #af759f;
@pantone-p-premium-metallics-coated-10187: #af699b;
@pantone-p-premium-metallics-coated-10188: #b25d97;
@pantone-p-premium-metallics-coated-10189: #b44e90;
@pantone-p-premium-metallics-coated-10190: #9f959d;
@pantone-p-premium-metallics-coated-10191: #968692;
@pantone-p-premium-metallics-coated-10192: #8e7785;
@pantone-p-premium-metallics-coated-10193: #846a7a;
@pantone-p-premium-metallics-coated-10194: #7a5c6e;
@pantone-p-premium-metallics-coated-10195: #704f61;
@pantone-p-premium-metallics-coated-10196: #a590a5;
@pantone-p-premium-metallics-coated-10197: #a37c9e;
@pantone-p-premium-metallics-coated-10198: #a16b95;
@pantone-p-premium-metallics-coated-10199: #9c5c8c;
@pantone-p-premium-metallics-coated-10200: #9a4e85;
@pantone-p-premium-metallics-coated-10201: #973e79;
@pantone-p-premium-metallics-coated-10202: #9e7d9d;
@pantone-p-premium-metallics-coated-10203: #976e96;
@pantone-p-premium-metallics-coated-10204: #92608e;
@pantone-p-premium-metallics-coated-10205: #8d5084;
@pantone-p-premium-metallics-coated-10206: #86437b;
@pantone-p-premium-metallics-coated-10207: #803671;
@pantone-p-premium-metallics-coated-10208: #a48ba8;
@pantone-p-premium-metallics-coated-10209: #a17ca5;
@pantone-p-premium-metallics-coated-10210: #9c6e9f;
@pantone-p-premium-metallics-coated-10211: #96619a;
@pantone-p-premium-metallics-coated-10212: #925495;
@pantone-p-premium-metallics-coated-10213: #8c458f;
@pantone-p-premium-metallics-coated-10214: #917da6;
@pantone-p-premium-metallics-coated-10215: #876ca1;
@pantone-p-premium-metallics-coated-10216: #7c5d9c;
@pantone-p-premium-metallics-coated-10217: #724e97;
@pantone-p-premium-metallics-coated-10218: #663e8f;
@pantone-p-premium-metallics-coated-10219: #5b2f88;
@pantone-p-premium-metallics-coated-10220: #9c93aa;
@pantone-p-premium-metallics-coated-10221: #9587a7;
@pantone-p-premium-metallics-coated-10222: #8b7ca3;
@pantone-p-premium-metallics-coated-10223: #826f9f;
@pantone-p-premium-metallics-coated-10224: #7a649b;
@pantone-p-premium-metallics-coated-10225: #725998;
@pantone-p-premium-metallics-coated-10226: #9793ab;
@pantone-p-premium-metallics-coated-10227: #8e89a9;
@pantone-p-premium-metallics-coated-10228: #857ea5;
@pantone-p-premium-metallics-coated-10229: #7a72a0;
@pantone-p-premium-metallics-coated-10230: #6e659b;
@pantone-p-premium-metallics-coated-10231: #655a99;
@pantone-p-premium-metallics-coated-10232: #8482a2;
@pantone-p-premium-metallics-coated-10233: #77729c;
@pantone-p-premium-metallics-coated-10234: #696496;
@pantone-p-premium-metallics-coated-10235: #5e568f;
@pantone-p-premium-metallics-coated-10236: #514987;
@pantone-p-premium-metallics-coated-10237: #554d89;
@pantone-p-premium-metallics-coated-10238: #8589aa;
@pantone-p-premium-metallics-coated-10239: #797da9;
@pantone-p-premium-metallics-coated-10240: #6c6fa5;
@pantone-p-premium-metallics-coated-10241: #5f61a0;
@pantone-p-premium-metallics-coated-10242: #50529c;
@pantone-p-premium-metallics-coated-10243: #454597;
@pantone-p-premium-metallics-coated-10244: #6e86a9;
@pantone-p-premium-metallics-coated-10245: #5a77a7;
@pantone-p-premium-metallics-coated-10246: #496aa3;
@pantone-p-premium-metallics-coated-10247: #385d9e;
@pantone-p-premium-metallics-coated-10248: #2a4f99;
@pantone-p-premium-metallics-coated-10249: #194394;
@pantone-p-premium-metallics-coated-10250: #929cad;
@pantone-p-premium-metallics-coated-10251: #8190aa;
@pantone-p-premium-metallics-coated-10252: #6f85ab;
@pantone-p-premium-metallics-coated-10253: #6079a7;
@pantone-p-premium-metallics-coated-10254: #506ca5;
@pantone-p-premium-metallics-coated-10255: #4260a2;
@pantone-p-premium-metallics-coated-10256: #7d94ac;
@pantone-p-premium-metallics-coated-10257: #6b8aab;
@pantone-p-premium-metallics-coated-10258: #5a80aa;
@pantone-p-premium-metallics-coated-10259: #4874a6;
@pantone-p-premium-metallics-coated-10260: #386aa6;
@pantone-p-premium-metallics-coated-10261: #245da3;
@pantone-p-premium-metallics-coated-10262: #8a99a3;
@pantone-p-premium-metallics-coated-10263: #778b99;
@pantone-p-premium-metallics-coated-10264: #637f90;
@pantone-p-premium-metallics-coated-10265: #527286;
@pantone-p-premium-metallics-coated-10266: #43667d;
@pantone-p-premium-metallics-coated-10267: #355a71;
@pantone-p-premium-metallics-coated-10268: #7499b0;
@pantone-p-premium-metallics-coated-10269: #5c90ad;
@pantone-p-premium-metallics-coated-10270: #4787ac;
@pantone-p-premium-metallics-coated-10271: #2b7eaa;
@pantone-p-premium-metallics-coated-10272: #0075aa;
@pantone-p-premium-metallics-coated-10273: #006cab;
@pantone-p-premium-metallics-coated-10274: #719ead;
@pantone-p-premium-metallics-coated-10275: #5c99af;
@pantone-p-premium-metallics-coated-10276: #4094ae;
@pantone-p-premium-metallics-coated-10277: #108eaf;
@pantone-p-premium-metallics-coated-10278: #0088af;
@pantone-p-premium-metallics-coated-10279: #0082b2;
@pantone-p-premium-metallics-coated-10280: #7c9ea5;
@pantone-p-premium-metallics-coated-10281: #6898a1;
@pantone-p-premium-metallics-coated-10282: #4f909b;
@pantone-p-premium-metallics-coated-10283: #388895;
@pantone-p-premium-metallics-coated-10284: #14808f;
@pantone-p-premium-metallics-coated-10285: #00788b;
@pantone-p-premium-metallics-coated-10286: #7aa4a8;
@pantone-p-premium-metallics-coated-10287: #64a0a7;
@pantone-p-premium-metallics-coated-10288: #479ba3;
@pantone-p-premium-metallics-coated-10289: #2197a0;
@pantone-p-premium-metallics-coated-10290: #00939d;
@pantone-p-premium-metallics-coated-10291: #008f98;
@pantone-p-premium-metallics-coated-10292: #7da9a5;
@pantone-p-premium-metallics-coated-10293: #69a69f;
@pantone-p-premium-metallics-coated-10294: #52a49a;
@pantone-p-premium-metallics-coated-10295: #35a195;
@pantone-p-premium-metallics-coated-10296: #009e8f;
@pantone-p-premium-metallics-coated-10297: #009d89;
@pantone-p-premium-metallics-coated-10298: #85a28a;
@pantone-p-premium-metallics-coated-10299: #769d7c;
@pantone-p-premium-metallics-coated-10300: #679970;
@pantone-p-premium-metallics-coated-10301: #539464;
@pantone-p-premium-metallics-coated-10302: #419058;
@pantone-p-premium-metallics-coated-10303: #1f8b4c;
@pantone-p-premium-metallics-coated-10304: #8da584;
@pantone-p-premium-metallics-coated-10305: #80a175;
@pantone-p-premium-metallics-coated-10306: #729c67;
@pantone-p-premium-metallics-coated-10307: #63985a;
@pantone-p-premium-metallics-coated-10308: #55944e;
@pantone-p-premium-metallics-coated-10309: #409040;
@pantone-p-premium-metallics-coated-10310: #97a094;
@pantone-p-premium-metallics-coated-10311: #879683;
@pantone-p-premium-metallics-coated-10312: #7b8c76;
@pantone-p-premium-metallics-coated-10313: #6d8267;
@pantone-p-premium-metallics-coated-10314: #5f785b;
@pantone-p-premium-metallics-coated-10315: #536e4f;
@pantone-p-premium-metallics-coated-10316: #95aa80;
@pantone-p-premium-metallics-coated-10317: #8ba86f;
@pantone-p-premium-metallics-coated-10318: #83a660;
@pantone-p-premium-metallics-coated-10319: #78a551;
@pantone-p-premium-metallics-coated-10320: #6aa543;
@pantone-p-premium-metallics-coated-10321: #5aa432;
@pantone-p-premium-metallics-coated-10322: #a3aa76;
@pantone-p-premium-metallics-coated-10323: #9ea964;
@pantone-p-premium-metallics-coated-10324: #9aa953;
@pantone-p-premium-metallics-coated-10325: #94a741;
@pantone-p-premium-metallics-coated-10326: #90a92f;
@pantone-p-premium-metallics-coated-10327: #8aaa19;
@pantone-p-premium-metallics-coated-10328: #959e7b;
@pantone-p-premium-metallics-coated-10329: #8c976b;
@pantone-p-premium-metallics-coated-10330: #838e5b;
@pantone-p-premium-metallics-coated-10331: #78874e;
@pantone-p-premium-metallics-coated-10332: #6e7f41;
@pantone-p-premium-metallics-coated-10333: #637536;
@pantone-p-premium-metallics-coated-10334: #9b9882;
@pantone-p-premium-metallics-coated-10335: #949073;
@pantone-p-premium-metallics-coated-10336: #8c8864;
@pantone-p-premium-metallics-coated-10337: #837e55;
@pantone-p-premium-metallics-coated-10338: #787548;
@pantone-p-premium-metallics-coated-10339: #6e6a39;
@pantone-p-premium-metallics-coated-10340: #a1977f;
@pantone-p-premium-metallics-coated-10341: #9a8d6d;
@pantone-p-premium-metallics-coated-10342: #93855e;
@pantone-p-premium-metallics-coated-10343: #8b7a4e;
@pantone-p-premium-metallics-coated-10344: #837142;
@pantone-p-premium-metallics-coated-10345: #796833;
@pantone-p-premium-metallics-coated-10346: #a5957d;
@pantone-p-premium-metallics-coated-10347: #a18c6b;
@pantone-p-premium-metallics-coated-10348: #9b845c;
@pantone-p-premium-metallics-coated-10349: #967c50;
@pantone-p-premium-metallics-coated-10350: #8f7242;
@pantone-p-premium-metallics-coated-10351: #876b35;
@pantone-p-premium-metallics-coated-10352: #a99e8e;
@pantone-p-premium-metallics-coated-10353: #a7957a;
@pantone-p-premium-metallics-coated-10354: #a38a66;
@pantone-p-premium-metallics-coated-10355: #9e8055;
@pantone-p-premium-metallics-coated-10356: #9a7847;
@pantone-p-premium-metallics-coated-10357: #926e39;
@pantone-p-premium-metallics-coated-10358: #a29179;
@pantone-p-premium-metallics-coated-10359: #9e8668;
@pantone-p-premium-metallics-coated-10360: #987b59;
@pantone-p-premium-metallics-coated-10361: #90704a;
@pantone-p-premium-metallics-coated-10362: #87663e;
@pantone-p-premium-metallics-coated-10363: #7d5b30;
@pantone-p-premium-metallics-coated-10364: #ab9887;
@pantone-p-premium-metallics-coated-10365: #a98a70;
@pantone-p-premium-metallics-coated-10366: #a27c5b;
@pantone-p-premium-metallics-coated-10367: #9d704d;
@pantone-p-premium-metallics-coated-10368: #95653e;
@pantone-p-premium-metallics-coated-10369: #8e5a32;
@pantone-p-premium-metallics-coated-10370: #a1988f;
@pantone-p-premium-metallics-coated-10371: #998a7b;
@pantone-p-premium-metallics-coated-10372: #917c6a;
@pantone-p-premium-metallics-coated-10373: #866f5a;
@pantone-p-premium-metallics-coated-10374: #7b624d;
@pantone-p-premium-metallics-coated-10375: #715741;
@pantone-p-premium-metallics-coated-10376: #958b82;
@pantone-p-premium-metallics-coated-10377: #8d7d73;
@pantone-p-premium-metallics-coated-10378: #827065;
@pantone-p-premium-metallics-coated-10379: #796458;
@pantone-p-premium-metallics-coated-10380: #6d594c;
@pantone-p-premium-metallics-coated-10381: #604c3d;
@pantone-p-premium-metallics-coated-10382: #959093;
@pantone-p-premium-metallics-coated-10383: #857e7f;
@pantone-p-premium-metallics-coated-10384: #766d70;
@pantone-p-premium-metallics-coated-10385: #685d60;
@pantone-p-premium-metallics-coated-10386: #5b5053;
@pantone-p-premium-metallics-coated-10387: #4e4345;
@pantone-p-premium-metallics-coated-10388: #8b8f94;
@pantone-p-premium-metallics-coated-10389: #7c8084;
@pantone-p-premium-metallics-coated-10390: #6a7175;
@pantone-p-premium-metallics-coated-10391: #5a6167;
@pantone-p-premium-metallics-coated-10392: #4d5459;
@pantone-p-premium-metallics-coated-10393: #40464b;
@pantone-p-premium-metallics-coated-10394: #7e7b78;
@pantone-p-premium-metallics-coated-10395: #6f6c69;
@pantone-p-premium-metallics-coated-10396: #5f5c59;
@pantone-p-premium-metallics-coated-10397: #504d4a;
@pantone-p-premium-metallics-coated-10398: #43403e;
@pantone-p-premium-metallics-coated-10399: #373432;