// pantone-p-solid-uncoated
@pantone-p-solid-uncoated-yellow: #ffe800;
@pantone-p-solid-uncoated-yellow-012: #ffe100;
@pantone-p-solid-uncoated-orange-021: #ff6d2e;
@pantone-p-solid-uncoated-warm-red: #ff685e;
@pantone-p-solid-uncoated-red-032: #fc5158;
@pantone-p-solid-uncoated-rubine-red: #e3467e;
@pantone-p-solid-uncoated-rhodamine-red: #ea4e98;
@pantone-p-solid-uncoated-purple: #c553b5;
@pantone-p-solid-uncoated-violet: #775ab1;
@pantone-p-solid-uncoated-blue-072: #3b45ac;
@pantone-p-solid-uncoated-reflex-blue: #374a9c;
@pantone-p-solid-uncoated-process-blue: #0082c4;
@pantone-p-solid-uncoated-green: #00aa90;
@pantone-p-solid-uncoated-black: #625e59;
@pantone-p-solid-uncoated-yellow-0131: #fcf59c;
@pantone-p-solid-uncoated-red-0331: #ffb2be;
@pantone-p-solid-uncoated-magenta-0521: #fbaadd;
@pantone-p-solid-uncoated-violet-0631: #bc94de;
@pantone-p-solid-uncoated-blue-0821: #67d0ee;
@pantone-p-solid-uncoated-green-0921: #72e5d2;
@pantone-p-solid-uncoated-black-0961: #9d9995;
@pantone-p-solid-uncoated-801: #009acf;
@pantone-p-solid-uncoated-802: #2bd03e;
@pantone-p-solid-uncoated-803: #ffe918;
@pantone-p-solid-uncoated-804: #ffac53;
@pantone-p-solid-uncoated-805: #ff7377;
@pantone-p-solid-uncoated-806: #ff4ab0;
@pantone-p-solid-uncoated-807: #ed3cbf;
@pantone-p-solid-uncoated-871: #ae986e;
@pantone-p-solid-uncoated-872: #ad936d;
@pantone-p-solid-uncoated-873: #af8f6f;
@pantone-p-solid-uncoated-874: #af8f6f;
@pantone-p-solid-uncoated-875: #b38c74;
@pantone-p-solid-uncoated-876: #b18770;
@pantone-p-solid-uncoated-877: #b4b7b8;
@pantone-p-solid-uncoated-medium-yellow: #ffe200;
@pantone-p-solid-uncoated-bright-orange: #ff7333;
@pantone-p-solid-uncoated-bright-red: #ff5541;
@pantone-p-solid-uncoated-strong-red: #d93969;
@pantone-p-solid-uncoated-pink: #d7428c;
@pantone-p-solid-uncoated-medium-purple: #654389;
@pantone-p-solid-uncoated-dark-blue: #434895;
@pantone-p-solid-uncoated-medium-blue: #0085c9;
@pantone-p-solid-uncoated-bright-green: #00ac92;
@pantone-p-solid-uncoated-neutral-black: #4c4846;
@pantone-p-solid-uncoated-100: #fff280;
@pantone-p-solid-uncoated-101: #fff166;
@pantone-p-solid-uncoated-102: #ffec2c;
@pantone-p-solid-uncoated-yellow: #ffe800;
@pantone-p-solid-uncoated-103: #b69e28;
@pantone-p-solid-uncoated-104: #9c8d3a;
@pantone-p-solid-uncoated-105: #7d7548;
@pantone-p-solid-uncoated-7401: #ffe5a5;
@pantone-p-solid-uncoated-7402: #f6da9a;
@pantone-p-solid-uncoated-7403: #f7ce80;
@pantone-p-solid-uncoated-7404: #ffcf43;
@pantone-p-solid-uncoated-7405: #e8b10e;
@pantone-p-solid-uncoated-7406: #f3b927;
@pantone-p-solid-uncoated-7407: #cda36e;
@pantone-p-solid-uncoated-106: #ffeb68;
@pantone-p-solid-uncoated-107: #ffe651;
@pantone-p-solid-uncoated-108: #ffdd33;
@pantone-p-solid-uncoated-109: #ffc700;
@pantone-p-solid-uncoated-110: #ce9f27;
@pantone-p-solid-uncoated-111: #9d873b;
@pantone-p-solid-uncoated-112: #8b7a3e;
@pantone-p-solid-uncoated-113: #ffe05e;
@pantone-p-solid-uncoated-114: #ffda4a;
@pantone-p-solid-uncoated-115: #ffcf2e;
@pantone-p-solid-uncoated-116: #ffb609;
@pantone-p-solid-uncoated-117: #b88d31;
@pantone-p-solid-uncoated-118: #9f8138;
@pantone-p-solid-uncoated-119: #847848;
@pantone-p-solid-uncoated-127: #fee385;
@pantone-p-solid-uncoated-128: #ffcf63;
@pantone-p-solid-uncoated-129: #feaf3f;
@pantone-p-solid-uncoated-130: #fc9a2d;
@pantone-p-solid-uncoated-131: #be7f32;
@pantone-p-solid-uncoated-132: #997a3c;
@pantone-p-solid-uncoated-133: #7e7049;
@pantone-p-solid-uncoated-1205: #ffe495;
@pantone-p-solid-uncoated-1215: #ffdb7f;
@pantone-p-solid-uncoated-1225: #ffbb4f;
@pantone-p-solid-uncoated-1235: #ffaf3c;
@pantone-p-solid-uncoated-1245: #bd8c42;
@pantone-p-solid-uncoated-1255: #a28246;
@pantone-p-solid-uncoated-1265: #897449;
@pantone-p-solid-uncoated-120: #ffda6a;
@pantone-p-solid-uncoated-121: #ffcd51;
@pantone-p-solid-uncoated-122: #ffc13d;
@pantone-p-solid-uncoated-123: #ffad28;
@pantone-p-solid-uncoated-124: #db9132;
@pantone-p-solid-uncoated-125: #a8813d;
@pantone-p-solid-uncoated-126: #8f7743;
@pantone-p-solid-uncoated-7548: #ffca10;
@pantone-p-solid-uncoated-7549: #ffb938;
@pantone-p-solid-uncoated-7550: #d1973e;
@pantone-p-solid-uncoated-7551: #b08743;
@pantone-p-solid-uncoated-7552: #836f4c;
@pantone-p-solid-uncoated-7553: #70644b;
@pantone-p-solid-uncoated-7554: #6d6459;
@pantone-p-solid-uncoated-7555: #d8a95a;
@pantone-p-solid-uncoated-7556: #bd9a5d;
@pantone-p-solid-uncoated-7557: #a68d5f;
@pantone-p-solid-uncoated-7558: #9c835e;
@pantone-p-solid-uncoated-7559: #977f5d;
@pantone-p-solid-uncoated-7560: #8e7e61;
@pantone-p-solid-uncoated-7561: #827863;
@pantone-p-solid-uncoated-134: #ffd479;
@pantone-p-solid-uncoated-135: #ffc267;
@pantone-p-solid-uncoated-136: #ffad4a;
@pantone-p-solid-uncoated-137: #ffa037;
@pantone-p-solid-uncoated-138: #d67d32;
@pantone-p-solid-uncoated-139: #9f703c;
@pantone-p-solid-uncoated-140: #806a45;
@pantone-p-solid-uncoated-1345: #ffd490;
@pantone-p-solid-uncoated-1355: #ffc97d;
@pantone-p-solid-uncoated-1365: #ffae5b;
@pantone-p-solid-uncoated-1375: #ff9a3f;
@pantone-p-solid-uncoated-1385: #d17e3e;
@pantone-p-solid-uncoated-1395: #966f44;
@pantone-p-solid-uncoated-1405: #7a6648;
@pantone-p-solid-uncoated-141: #fdc16e;
@pantone-p-solid-uncoated-142: #fdaf5d;
@pantone-p-solid-uncoated-143: #fb9f4e;
@pantone-p-solid-uncoated-144: #fa8b3c;
@pantone-p-solid-uncoated-145: #ce7e3b;
@pantone-p-solid-uncoated-146: #a07443;
@pantone-p-solid-uncoated-147: #77694b;
@pantone-p-solid-uncoated-7408: #f19d23;
@pantone-p-solid-uncoated-7409: #fcad51;
@pantone-p-solid-uncoated-7410: #ffa16c;
@pantone-p-solid-uncoated-7411: #eea06e;
@pantone-p-solid-uncoated-7412: #d18d60;
@pantone-p-solid-uncoated-7413: #e38758;
@pantone-p-solid-uncoated-7414: #c38052;
@pantone-p-solid-uncoated-7562: #bfa179;
@pantone-p-solid-uncoated-7563: #dca664;
@pantone-p-solid-uncoated-7564: #e09958;
@pantone-p-solid-uncoated-7565: #cb8758;
@pantone-p-solid-uncoated-7566: #b07a5d;
@pantone-p-solid-uncoated-7567: #92705b;
@pantone-p-solid-uncoated-7568: #836d5e;
@pantone-p-solid-uncoated-7569: #d58e56;
@pantone-p-solid-uncoated-7570: #d58e5c;
@pantone-p-solid-uncoated-7571: #c68a5e;
@pantone-p-solid-uncoated-7572: #b47f5b;
@pantone-p-solid-uncoated-7573: #ab7b5a;
@pantone-p-solid-uncoated-7574: #9c775c;
@pantone-p-solid-uncoated-7575: #88715b;
@pantone-p-solid-uncoated-712: #ffcb9c;
@pantone-p-solid-uncoated-713: #ffc28e;
@pantone-p-solid-uncoated-714: #ffb17a;
@pantone-p-solid-uncoated-715: #fb9b63;
@pantone-p-solid-uncoated-716: #ec884f;
@pantone-p-solid-uncoated-717: #db763e;
@pantone-p-solid-uncoated-718: #ca6d3d;
@pantone-p-solid-uncoated-148: #ffc689;
@pantone-p-solid-uncoated-149: #ffb774;
@pantone-p-solid-uncoated-150: #ff9a53;
@pantone-p-solid-uncoated-151: #ff893e;
@pantone-p-solid-uncoated-152: #e47b3e;
@pantone-p-solid-uncoated-153: #af6f42;
@pantone-p-solid-uncoated-154: #946844;
@pantone-p-solid-uncoated-155: #fbc896;
@pantone-p-solid-uncoated-156: #fab983;
@pantone-p-solid-uncoated-157: #f89563;
@pantone-p-solid-uncoated-158: #f57e4d;
@pantone-p-solid-uncoated-159: #ce7147;
@pantone-p-solid-uncoated-160: #a16a47;
@pantone-p-solid-uncoated-161: #7a6249;
@pantone-p-solid-uncoated-1485: #ffa662;
@pantone-p-solid-uncoated-1495: #ff9451;
@pantone-p-solid-uncoated-1505: #ff8236;
@pantone-p-solid-uncoated-orange-021: #ff6d2e;
@pantone-p-solid-uncoated-1525: #c16538;
@pantone-p-solid-uncoated-1535: #996342;
@pantone-p-solid-uncoated-1545: #7b5f48;
@pantone-p-solid-uncoated-1555: #ffc39f;
@pantone-p-solid-uncoated-1565: #ffab80;
@pantone-p-solid-uncoated-1575: #ff9765;
@pantone-p-solid-uncoated-1585: #ff8550;
@pantone-p-solid-uncoated-1595: #d67146;
@pantone-p-solid-uncoated-1605: #a96d4c;
@pantone-p-solid-uncoated-1615: #95664a;
@pantone-p-solid-uncoated-162: #ffbc9b;
@pantone-p-solid-uncoated-163: #ff9e76;
@pantone-p-solid-uncoated-164: #ff875f;
@pantone-p-solid-uncoated-165: #ff7647;
@pantone-p-solid-uncoated-166: #e5683f;
@pantone-p-solid-uncoated-167: #b76746;
@pantone-p-solid-uncoated-168: #8b624b;
@pantone-p-solid-uncoated-7576: #dc8e6a;
@pantone-p-solid-uncoated-7577: #e48b64;
@pantone-p-solid-uncoated-7578: #de7e59;
@pantone-p-solid-uncoated-7579: #e47459;
@pantone-p-solid-uncoated-7580: #c36c59;
@pantone-p-solid-uncoated-7581: #936b5e;
@pantone-p-solid-uncoated-7582: #7a685d;
@pantone-p-solid-uncoated-1625: #ffa992;
@pantone-p-solid-uncoated-1635: #ff977c;
@pantone-p-solid-uncoated-1645: #ff8060;
@pantone-p-solid-uncoated-1655: #ff704b;
@pantone-p-solid-uncoated-1665: #e96949;
@pantone-p-solid-uncoated-1675: #ae6249;
@pantone-p-solid-uncoated-1685: #98614d;
@pantone-p-solid-uncoated-169: #ffb8ad;
@pantone-p-solid-uncoated-170: #ff8f7c;
@pantone-p-solid-uncoated-171: #ff7a63;
@pantone-p-solid-uncoated-172: #ff684d;
@pantone-p-solid-uncoated-173: #d2624a;
@pantone-p-solid-uncoated-174: #9f5c4a;
@pantone-p-solid-uncoated-175: #80594d;
@pantone-p-solid-uncoated-7583: #cf7c5f;
@pantone-p-solid-uncoated-7584: #c5765a;
@pantone-p-solid-uncoated-7585: #b97964;
@pantone-p-solid-uncoated-7586: #a5705c;
@pantone-p-solid-uncoated-7587: #9c6c5c;
@pantone-p-solid-uncoated-7588: #8c6d61;
@pantone-p-solid-uncoated-7589: #766a63;
@pantone-p-solid-uncoated-7590: #dfbcaa;
@pantone-p-solid-uncoated-7591: #ca8d78;
@pantone-p-solid-uncoated-7592: #b77160;
@pantone-p-solid-uncoated-7593: #a76759;
@pantone-p-solid-uncoated-7594: #8f645a;
@pantone-p-solid-uncoated-7595: #83665c;
@pantone-p-solid-uncoated-7596: #7a665f;
@pantone-p-solid-uncoated-7597: #da6756;
@pantone-p-solid-uncoated-7598: #c76d5c;
@pantone-p-solid-uncoated-7599: #c2695a;
@pantone-p-solid-uncoated-7600: #9e6a5d;
@pantone-p-solid-uncoated-7601: #93695b;
@pantone-p-solid-uncoated-7602: #8d6e60;
@pantone-p-solid-uncoated-7603: #7d675d;
@pantone-p-solid-uncoated-7604: #ecd8d7;
@pantone-p-solid-uncoated-7605: #eec4c0;
@pantone-p-solid-uncoated-7606: #e29f9b;
@pantone-p-solid-uncoated-7607: #cf867f;
@pantone-p-solid-uncoated-7608: #ae6d67;
@pantone-p-solid-uncoated-7609: #946560;
@pantone-p-solid-uncoated-7610: #82605e;
@pantone-p-solid-uncoated-7611: #e9c8bd;
@pantone-p-solid-uncoated-7612: #d6a9a1;
@pantone-p-solid-uncoated-7613: #cb9f96;
@pantone-p-solid-uncoated-7614: #ae928b;
@pantone-p-solid-uncoated-7615: #998380;
@pantone-p-solid-uncoated-7616: #877474;
@pantone-p-solid-uncoated-7617: #766667;
@pantone-p-solid-uncoated-7520: #f5c4be;
@pantone-p-solid-uncoated-7521: #c7a194;
@pantone-p-solid-uncoated-7522: #b37870;
@pantone-p-solid-uncoated-7523: #ab7575;
@pantone-p-solid-uncoated-7524: #a66d69;
@pantone-p-solid-uncoated-7525: #9d7871;
@pantone-p-solid-uncoated-7526: #936052;
@pantone-p-solid-uncoated-489: #f9c6b9;
@pantone-p-solid-uncoated-488: #fab8aa;
@pantone-p-solid-uncoated-487: #f8a194;
@pantone-p-solid-uncoated-486: #f58c80;
@pantone-p-solid-uncoated-485: #eb5b50;
@pantone-p-solid-uncoated-484: #a45a4e;
@pantone-p-solid-uncoated-483: #7f5b4f;
@pantone-p-solid-uncoated-176: #ffb2b9;
@pantone-p-solid-uncoated-177: #ff8e91;
@pantone-p-solid-uncoated-178: #ff7876;
@pantone-p-solid-uncoated-warm-red: #ff685e;
@pantone-p-solid-uncoated-179: #e56055;
@pantone-p-solid-uncoated-180: #c36259;
@pantone-p-solid-uncoated-181: #8d5a52;
@pantone-p-solid-uncoated-1765: #ffa7b4;
@pantone-p-solid-uncoated-1775: #ff8d9a;
@pantone-p-solid-uncoated-1785: #ff6872;
@pantone-p-solid-uncoated-1788: #fe5e61;
@pantone-p-solid-uncoated-1795: #de5958;
@pantone-p-solid-uncoated-1805: #b75957;
@pantone-p-solid-uncoated-1815: #925651;
@pantone-p-solid-uncoated-1767: #ffbac9;
@pantone-p-solid-uncoated-1777: #ff8191;
@pantone-p-solid-uncoated-1787: #ff6472;
@pantone-p-solid-uncoated-red-032: #fc5158;
@pantone-p-solid-uncoated-1797: #d05053;
@pantone-p-solid-uncoated-1807: #aa5253;
@pantone-p-solid-uncoated-1817: #7a5454;
@pantone-p-solid-uncoated-7618: #d58a78;
@pantone-p-solid-uncoated-7619: #ce7064;
@pantone-p-solid-uncoated-7620: #c6615b;
@pantone-p-solid-uncoated-7621: #c05c5a;
@pantone-p-solid-uncoated-7622: #a95d5c;
@pantone-p-solid-uncoated-7623: #9f5b57;
@pantone-p-solid-uncoated-7624: #915954;
@pantone-p-solid-uncoated-7625: #f1776c;
@pantone-p-solid-uncoated-7626: #d7635e;
@pantone-p-solid-uncoated-7627: #b05956;
@pantone-p-solid-uncoated-7628: #ac5a58;
@pantone-p-solid-uncoated-7629: #805c58;
@pantone-p-solid-uncoated-7630: #775a58;
@pantone-p-solid-uncoated-7631: #6e5655;
@pantone-p-solid-uncoated-7415: #efb5a5;
@pantone-p-solid-uncoated-7416: #f1736b;
@pantone-p-solid-uncoated-7417: #ee6961;
@pantone-p-solid-uncoated-7418: #c36466;
@pantone-p-solid-uncoated-7419: #a8636a;
@pantone-p-solid-uncoated-7420: #a65868;
@pantone-p-solid-uncoated-7421: #804e5a;
@pantone-p-solid-uncoated-182: #ffb9c9;
@pantone-p-solid-uncoated-183: #ff8ea3;
@pantone-p-solid-uncoated-184: #ff6e82;
@pantone-p-solid-uncoated-185: #f8505f;
@pantone-p-solid-uncoated-186: #d7515c;
@pantone-p-solid-uncoated-187: #b2535b;
@pantone-p-solid-uncoated-188: #8b5659;
@pantone-p-solid-uncoated-196: #f8c2cc;
@pantone-p-solid-uncoated-197: #f8a0b2;
@pantone-p-solid-uncoated-198: #ed6a7d;
@pantone-p-solid-uncoated-199: #e54e62;
@pantone-p-solid-uncoated-200: #c24f5d;
@pantone-p-solid-uncoated-201: #a55660;
@pantone-p-solid-uncoated-202: #93575e;
@pantone-p-solid-uncoated-189: #ffacc1;
@pantone-p-solid-uncoated-190: #ff88a1;
@pantone-p-solid-uncoated-191: #fd7189;
@pantone-p-solid-uncoated-192: #f5526b;
@pantone-p-solid-uncoated-193: #c95363;
@pantone-p-solid-uncoated-194: #a75a64;
@pantone-p-solid-uncoated-195: #895b60;
@pantone-p-solid-uncoated-1895: #ffb4cd;
@pantone-p-solid-uncoated-1905: #ff9cb9;
@pantone-p-solid-uncoated-1915: #fa7090;
@pantone-p-solid-uncoated-1925: #ef516d;
@pantone-p-solid-uncoated-1935: #ce4b63;
@pantone-p-solid-uncoated-1945: #b45467;
@pantone-p-solid-uncoated-1955: #995360;
@pantone-p-solid-uncoated-705: #ffdee3;
@pantone-p-solid-uncoated-706: #ffcad4;
@pantone-p-solid-uncoated-707: #ffb2bf;
@pantone-p-solid-uncoated-708: #ff9aa8;
@pantone-p-solid-uncoated-709: #f87d8a;
@pantone-p-solid-uncoated-710: #e8646f;
@pantone-p-solid-uncoated-711: #d45055;
@pantone-p-solid-uncoated-698: #fdd7da;
@pantone-p-solid-uncoated-699: #fec3cc;
@pantone-p-solid-uncoated-700: #fcaab6;
@pantone-p-solid-uncoated-701: #ec8f9c;
@pantone-p-solid-uncoated-702: #dc7a86;
@pantone-p-solid-uncoated-703: #b75a64;
@pantone-p-solid-uncoated-704: #a55055;
@pantone-p-solid-uncoated-203: #f9b0ca;
@pantone-p-solid-uncoated-204: #f482a3;
@pantone-p-solid-uncoated-205: #ec6183;
@pantone-p-solid-uncoated-206: #e04265;
@pantone-p-solid-uncoated-207: #b44b65;
@pantone-p-solid-uncoated-208: #935566;
@pantone-p-solid-uncoated-209: #845864;
@pantone-p-solid-uncoated-210: #ffa3ca;
@pantone-p-solid-uncoated-211: #ff87b5;
@pantone-p-solid-uncoated-212: #fb6e9d;
@pantone-p-solid-uncoated-213: #ef5483;
@pantone-p-solid-uncoated-214: #d65278;
@pantone-p-solid-uncoated-215: #b25271;
@pantone-p-solid-uncoated-216: #8c5565;
@pantone-p-solid-uncoated-7422: #ffd5db;
@pantone-p-solid-uncoated-7423: #e6768e;
@pantone-p-solid-uncoated-7424: #dd587d;
@pantone-p-solid-uncoated-7425: #c05b73;
@pantone-p-solid-uncoated-7426: #b55569;
@pantone-p-solid-uncoated-7427: #a9525c;
@pantone-p-solid-uncoated-7428: #835c68;
@pantone-p-solid-uncoated-7632: #decfd1;
@pantone-p-solid-uncoated-7633: #cbaaad;
@pantone-p-solid-uncoated-7634: #cb7d93;
@pantone-p-solid-uncoated-7635: #d4617c;
@pantone-p-solid-uncoated-7636: #c9566d;
@pantone-p-solid-uncoated-7637: #9a5865;
@pantone-p-solid-uncoated-7638: #885560;
@pantone-p-solid-uncoated-217: #f7c0e0;
@pantone-p-solid-uncoated-218: #f485ba;
@pantone-p-solid-uncoated-219: #ea5b96;
@pantone-p-solid-uncoated-rubine-red: #e3467e;
@pantone-p-solid-uncoated-220: #b44c74;
@pantone-p-solid-uncoated-221: #a34d6f;
@pantone-p-solid-uncoated-222: #84566b;
@pantone-p-solid-uncoated-7639: #a2858b;
@pantone-p-solid-uncoated-7640: #9f6672;
@pantone-p-solid-uncoated-7641: #9e5d6d;
@pantone-p-solid-uncoated-7642: #805765;
@pantone-p-solid-uncoated-7643: #7b5967;
@pantone-p-solid-uncoated-7644: #715863;
@pantone-p-solid-uncoated-7645: #6e575f;
@pantone-p-solid-uncoated-223: #fba5d8;
@pantone-p-solid-uncoated-224: #f988c6;
@pantone-p-solid-uncoated-225: #f161a7;
@pantone-p-solid-uncoated-226: #e34587;
@pantone-p-solid-uncoated-227: #b44978;
@pantone-p-solid-uncoated-228: #8f4e6c;
@pantone-p-solid-uncoated-229: #7c5566;
@pantone-p-solid-uncoated-230: #ffb3e1;
@pantone-p-solid-uncoated-231: #fe86c9;
@pantone-p-solid-uncoated-232: #f66db6;
@pantone-p-solid-uncoated-rhodamine-red: #ea4e98;
@pantone-p-solid-uncoated-233: #cc4885;
@pantone-p-solid-uncoated-234: #ae4e7d;
@pantone-p-solid-uncoated-235: #944e70;
@pantone-p-solid-uncoated-670: #f5d6e7;
@pantone-p-solid-uncoated-671: #f3c2de;
@pantone-p-solid-uncoated-672: #eba7cd;
@pantone-p-solid-uncoated-673: #e28cb9;
@pantone-p-solid-uncoated-674: #d173a1;
@pantone-p-solid-uncoated-675: #c1618d;
@pantone-p-solid-uncoated-676: #ac5078;
@pantone-p-solid-uncoated-677: #f1d2e0;
@pantone-p-solid-uncoated-678: #e7c0d5;
@pantone-p-solid-uncoated-679: #ddabc5;
@pantone-p-solid-uncoated-680: #c48ba9;
@pantone-p-solid-uncoated-681: #a76f8d;
@pantone-p-solid-uncoated-682: #935d79;
@pantone-p-solid-uncoated-683: #845269;
@pantone-p-solid-uncoated-684: #eecbd9;
@pantone-p-solid-uncoated-685: #e6becf;
@pantone-p-solid-uncoated-686: #d7a6be;
@pantone-p-solid-uncoated-687: #bf8ca5;
@pantone-p-solid-uncoated-688: #a4738b;
@pantone-p-solid-uncoated-689: #906277;
@pantone-p-solid-uncoated-690: #7d5060;
@pantone-p-solid-uncoated-510: #f2bfca;
@pantone-p-solid-uncoated-509: #eaaebc;
@pantone-p-solid-uncoated-508: #e19dae;
@pantone-p-solid-uncoated-507: #d090a3;
@pantone-p-solid-uncoated-506: #9c6570;
@pantone-p-solid-uncoated-505: #8a5d66;
@pantone-p-solid-uncoated-504: #805e61;
@pantone-p-solid-uncoated-7429: #f1ccda;
@pantone-p-solid-uncoated-7430: #e9b5ca;
@pantone-p-solid-uncoated-7431: #dfa1b8;
@pantone-p-solid-uncoated-7432: #c9819a;
@pantone-p-solid-uncoated-7433: #bd6f89;
@pantone-p-solid-uncoated-7434: #ac667d;
@pantone-p-solid-uncoated-7435: #90566c;
@pantone-p-solid-uncoated-691: #f4d3d6;
@pantone-p-solid-uncoated-692: #eac0c4;
@pantone-p-solid-uncoated-693: #dba6ae;
@pantone-p-solid-uncoated-694: #c68e97;
@pantone-p-solid-uncoated-695: #ae7781;
@pantone-p-solid-uncoated-696: #9a646c;
@pantone-p-solid-uncoated-697: #89575a;
@pantone-p-solid-uncoated-496: #fac3cb;
@pantone-p-solid-uncoated-495: #f2b0ba;
@pantone-p-solid-uncoated-494: #e79ca7;
@pantone-p-solid-uncoated-493: #c97e89;
@pantone-p-solid-uncoated-492: #9f5e5e;
@pantone-p-solid-uncoated-491: #8f5a59;
@pantone-p-solid-uncoated-490: #785554;
@pantone-p-solid-uncoated-503: #f2cece;
@pantone-p-solid-uncoated-502: #e7b8be;
@pantone-p-solid-uncoated-501: #d9a6ab;
@pantone-p-solid-uncoated-500: #bd8b8e;
@pantone-p-solid-uncoated-499: #8d615f;
@pantone-p-solid-uncoated-498: #805e5a;
@pantone-p-solid-uncoated-497: #725956;
@pantone-p-solid-uncoated-5035: #e8c7c8;
@pantone-p-solid-uncoated-5025: #ddb6b9;
@pantone-p-solid-uncoated-5015: #caa1a5;
@pantone-p-solid-uncoated-5005: #b48a8e;
@pantone-p-solid-uncoated-4995: #a0797f;
@pantone-p-solid-uncoated-4985: #8f6b6e;
@pantone-p-solid-uncoated-4975: #745753;
@pantone-p-solid-uncoated-236: #fba6de;
@pantone-p-solid-uncoated-237: #f78ed2;
@pantone-p-solid-uncoated-238: #ee72be;
@pantone-p-solid-uncoated-239: #e055a9;
@pantone-p-solid-uncoated-240: #c55797;
@pantone-p-solid-uncoated-241: #b2558a;
@pantone-p-solid-uncoated-242: #905a77;
@pantone-p-solid-uncoated-2365: #fac0e7;
@pantone-p-solid-uncoated-2375: #ed89d0;
@pantone-p-solid-uncoated-2385: #e470c1;
@pantone-p-solid-uncoated-2395: #d959ae;
@pantone-p-solid-uncoated-2405: #bf569b;
@pantone-p-solid-uncoated-2415: #af548f;
@pantone-p-solid-uncoated-2425: #9a5481;
@pantone-p-solid-uncoated-243: #f3b2e5;
@pantone-p-solid-uncoated-244: #ee9bdc;
@pantone-p-solid-uncoated-245: #e47fcf;
@pantone-p-solid-uncoated-246: #d357b2;
@pantone-p-solid-uncoated-247: #c052a1;
@pantone-p-solid-uncoated-248: #a4508b;
@pantone-p-solid-uncoated-249: #8a5879;
@pantone-p-solid-uncoated-7646: #b38699;
@pantone-p-solid-uncoated-7647: #b66889;
@pantone-p-solid-uncoated-7648: #a2537b;
@pantone-p-solid-uncoated-7649: #96547a;
@pantone-p-solid-uncoated-7650: #865673;
@pantone-p-solid-uncoated-7651: #815c79;
@pantone-p-solid-uncoated-7652: #75546c;
@pantone-p-solid-uncoated-250: #f0baea;
@pantone-p-solid-uncoated-251: #e497e0;
@pantone-p-solid-uncoated-252: #d370cd;
@pantone-p-solid-uncoated-purple: #c553b5;
@pantone-p-solid-uncoated-253: #b956ad;
@pantone-p-solid-uncoated-254: #a25498;
@pantone-p-solid-uncoated-255: #85577c;
@pantone-p-solid-uncoated-517: #f4c8e3;
@pantone-p-solid-uncoated-516: #eab7dc;
@pantone-p-solid-uncoated-515: #e3a7d4;
@pantone-p-solid-uncoated-514: #cf8bc3;
@pantone-p-solid-uncoated-513: #9f6198;
@pantone-p-solid-uncoated-512: #8b587e;
@pantone-p-solid-uncoated-511: #755567;
@pantone-p-solid-uncoated-7436: #f5d6ec;
@pantone-p-solid-uncoated-7437: #d6b6d7;
@pantone-p-solid-uncoated-7438: #da9bd7;
@pantone-p-solid-uncoated-7439: #c29cc6;
@pantone-p-solid-uncoated-7440: #ba96bb;
@pantone-p-solid-uncoated-7441: #b07eca;
@pantone-p-solid-uncoated-7442: #a063be;
@pantone-p-solid-uncoated-2562: #e0aee8;
@pantone-p-solid-uncoated-2572: #cf90de;
@pantone-p-solid-uncoated-2582: #be77cf;
@pantone-p-solid-uncoated-2592: #ae60bf;
@pantone-p-solid-uncoated-2602: #9958a6;
@pantone-p-solid-uncoated-2612: #89578c;
@pantone-p-solid-uncoated-2622: #7d5b79;
@pantone-p-solid-uncoated-7653: #a0949f;
@pantone-p-solid-uncoated-7654: #ad8aa5;
@pantone-p-solid-uncoated-7655: #ad78a0;
@pantone-p-solid-uncoated-7656: #99648e;
@pantone-p-solid-uncoated-7657: #7f5978;
@pantone-p-solid-uncoated-7658: #7e5e77;
@pantone-p-solid-uncoated-7659: #6f5a6a;
@pantone-p-solid-uncoated-524: #ddc4db;
@pantone-p-solid-uncoated-523: #d1b6d5;
@pantone-p-solid-uncoated-522: #be9fc7;
@pantone-p-solid-uncoated-521: #ac8ab6;
@pantone-p-solid-uncoated-520: #815f88;
@pantone-p-solid-uncoated-519: #795d7a;
@pantone-p-solid-uncoated-518: #6e5969;
@pantone-p-solid-uncoated-5245: #e0cfd6;
@pantone-p-solid-uncoated-5235: #d6c4cd;
@pantone-p-solid-uncoated-5225: #c2acb8;
@pantone-p-solid-uncoated-5215: #a38c9c;
@pantone-p-solid-uncoated-5205: #907c8a;
@pantone-p-solid-uncoated-5195: #826d78;
@pantone-p-solid-uncoated-5185: #776169;
@pantone-p-solid-uncoated-5175: #dcc4d1;
@pantone-p-solid-uncoated-5165: #cfb4c5;
@pantone-p-solid-uncoated-5155: #bc9eb2;
@pantone-p-solid-uncoated-5145: #a6899e;
@pantone-p-solid-uncoated-5135: #8d7289;
@pantone-p-solid-uncoated-5125: #7f6478;
@pantone-p-solid-uncoated-5115: #715564;
@pantone-p-solid-uncoated-531: #e6c7ec;
@pantone-p-solid-uncoated-530: #dfb9e7;
@pantone-p-solid-uncoated-529: #d0a5e1;
@pantone-p-solid-uncoated-528: #bb8ad2;
@pantone-p-solid-uncoated-527: #9462b0;
@pantone-p-solid-uncoated-526: #835890;
@pantone-p-solid-uncoated-525: #755674;
@pantone-p-solid-uncoated-256: #d6b4db;
@pantone-p-solid-uncoated-257: #c49bcb;
@pantone-p-solid-uncoated-258: #a576ad;
@pantone-p-solid-uncoated-259: #96679c;
@pantone-p-solid-uncoated-260: #8b658d;
@pantone-p-solid-uncoated-261: #806282;
@pantone-p-solid-uncoated-262: #775f74;
@pantone-p-solid-uncoated-2563: #cea2da;
@pantone-p-solid-uncoated-2573: #bb89ca;
@pantone-p-solid-uncoated-2583: #a673b5;
@pantone-p-solid-uncoated-2593: #915e9f;
@pantone-p-solid-uncoated-2603: #865a91;
@pantone-p-solid-uncoated-2613: #7e5787;
@pantone-p-solid-uncoated-2623: #765579;
@pantone-p-solid-uncoated-7660: #9d96a7;
@pantone-p-solid-uncoated-7661: #957f9d;
@pantone-p-solid-uncoated-7662: #85668c;
@pantone-p-solid-uncoated-7663: #7a5d83;
@pantone-p-solid-uncoated-7664: #785c82;
@pantone-p-solid-uncoated-7665: #725e7c;
@pantone-p-solid-uncoated-7666: #716976;
@pantone-p-solid-uncoated-2567: #c19fda;
@pantone-p-solid-uncoated-2577: #a47fc5;
@pantone-p-solid-uncoated-2587: #946eb7;
@pantone-p-solid-uncoated-2597: #835aa3;
@pantone-p-solid-uncoated-2607: #7b5895;
@pantone-p-solid-uncoated-2617: #735488;
@pantone-p-solid-uncoated-2627: #6f537d;
@pantone-p-solid-uncoated-263: #dfc6eb;
@pantone-p-solid-uncoated-264: #c0a2e3;
@pantone-p-solid-uncoated-265: #9d7bd1;
@pantone-p-solid-uncoated-266: #8b66c3;
@pantone-p-solid-uncoated-267: #7f5dad;
@pantone-p-solid-uncoated-268: #74598f;
@pantone-p-solid-uncoated-269: #6f577e;
@pantone-p-solid-uncoated-2635: #cab7e8;
@pantone-p-solid-uncoated-2645: #bba4e3;
@pantone-p-solid-uncoated-2655: #a38ad8;
@pantone-p-solid-uncoated-2665: #8c70c9;
@pantone-p-solid-uncoated-violet: #775ab1;
@pantone-p-solid-uncoated-2685: #765ca5;
@pantone-p-solid-uncoated-2695: #6c5d7f;
@pantone-p-solid-uncoated-270: #aeaddf;
@pantone-p-solid-uncoated-271: #9b9ad5;
@pantone-p-solid-uncoated-272: #8486c6;
@pantone-p-solid-uncoated-273: #635e9b;
@pantone-p-solid-uncoated-274: #60578b;
@pantone-p-solid-uncoated-275: #5d5582;
@pantone-p-solid-uncoated-276: #5c556f;
@pantone-p-solid-uncoated-2705: #b9b6e9;
@pantone-p-solid-uncoated-2715: #9f99df;
@pantone-p-solid-uncoated-2725: #8781d3;
@pantone-p-solid-uncoated-2735: #6559b1;
@pantone-p-solid-uncoated-2745: #60569a;
@pantone-p-solid-uncoated-2755: #5d548c;
@pantone-p-solid-uncoated-2765: #574f76;
@pantone-p-solid-uncoated-7667: #818ca9;
@pantone-p-solid-uncoated-7668: #7a80a4;
@pantone-p-solid-uncoated-7669: #7978a3;
@pantone-p-solid-uncoated-7670: #706f99;
@pantone-p-solid-uncoated-7671: #6e6a93;
@pantone-p-solid-uncoated-7672: #6a668f;
@pantone-p-solid-uncoated-7673: #6c6e8e;
@pantone-p-solid-uncoated-7443: #dfd8ec;
@pantone-p-solid-uncoated-7444: #bdbee1;
@pantone-p-solid-uncoated-7445: #ada7c6;
@pantone-p-solid-uncoated-7446: #9593cf;
@pantone-p-solid-uncoated-7447: #7f7291;
@pantone-p-solid-uncoated-7448: #726873;
@pantone-p-solid-uncoated-7449: #65515c;
@pantone-p-solid-uncoated-7674: #9296b8;
@pantone-p-solid-uncoated-7675: #898baf;
@pantone-p-solid-uncoated-7676: #837aa4;
@pantone-p-solid-uncoated-7677: #7d6d96;
@pantone-p-solid-uncoated-7678: #786691;
@pantone-p-solid-uncoated-7679: #6e628b;
@pantone-p-solid-uncoated-7680: #695a81;
@pantone-p-solid-uncoated-663: #e3d9e4;
@pantone-p-solid-uncoated-664: #dbcfdc;
@pantone-p-solid-uncoated-665: #c6b8ce;
@pantone-p-solid-uncoated-666: #afa1bc;
@pantone-p-solid-uncoated-667: #9183a1;
@pantone-p-solid-uncoated-668: #817391;
@pantone-p-solid-uncoated-669: #72647f;
@pantone-p-solid-uncoated-5315: #dad8e1;
@pantone-p-solid-uncoated-5305: #c5c3d3;
@pantone-p-solid-uncoated-5295: #b2afc3;
@pantone-p-solid-uncoated-5285: #9793ab;
@pantone-p-solid-uncoated-5275: #7c7992;
@pantone-p-solid-uncoated-5265: #6d6a82;
@pantone-p-solid-uncoated-5255: #5d576b;
@pantone-p-solid-uncoated-538: #cdd7e1;
@pantone-p-solid-uncoated-537: #bdcadb;
@pantone-p-solid-uncoated-536: #a5b5cc;
@pantone-p-solid-uncoated-535: #8c9cb9;
@pantone-p-solid-uncoated-534: #5b6984;
@pantone-p-solid-uncoated-533: #5f6579;
@pantone-p-solid-uncoated-532: #5b5c64;
@pantone-p-solid-uncoated-7541: #dee4e7;
@pantone-p-solid-uncoated-7542: #b1c5cc;
@pantone-p-solid-uncoated-7543: #aeb8c1;
@pantone-p-solid-uncoated-7544: #9ba5b0;
@pantone-p-solid-uncoated-7545: #79838d;
@pantone-p-solid-uncoated-7546: #66707a;
@pantone-p-solid-uncoated-7547: #50545d;
@pantone-p-solid-uncoated-552: #afcfdc;
@pantone-p-solid-uncoated-551: #95c0d0;
@pantone-p-solid-uncoated-550: #7ca9be;
@pantone-p-solid-uncoated-549: #6698ae;
@pantone-p-solid-uncoated-548: #3e5d6f;
@pantone-p-solid-uncoated-547: #415765;
@pantone-p-solid-uncoated-546: #475058;
@pantone-p-solid-uncoated-5455: #c6d6e0;
@pantone-p-solid-uncoated-5445: #b2c6d4;
@pantone-p-solid-uncoated-5435: #9eb3c4;
@pantone-p-solid-uncoated-5425: #7992a5;
@pantone-p-solid-uncoated-5415: #687f91;
@pantone-p-solid-uncoated-5405: #5c6e7f;
@pantone-p-solid-uncoated-5395: #484b5a;
@pantone-p-solid-uncoated-642: #d2dfea;
@pantone-p-solid-uncoated-643: #bed2e5;
@pantone-p-solid-uncoated-644: #9db9d6;
@pantone-p-solid-uncoated-645: #83a2c3;
@pantone-p-solid-uncoated-646: #6e8db1;
@pantone-p-solid-uncoated-647: #607a9d;
@pantone-p-solid-uncoated-648: #4e6282;
@pantone-p-solid-uncoated-649: #e1e7ee;
@pantone-p-solid-uncoated-650: #d8dfec;
@pantone-p-solid-uncoated-651: #aec2db;
@pantone-p-solid-uncoated-652: #88a2c4;
@pantone-p-solid-uncoated-653: #6780a5;
@pantone-p-solid-uncoated-654: #55688b;
@pantone-p-solid-uncoated-655: #4e5d7e;
@pantone-p-solid-uncoated-656: #e3e9f2;
@pantone-p-solid-uncoated-657: #d6e2f2;
@pantone-p-solid-uncoated-658: #b8ceed;
@pantone-p-solid-uncoated-659: #94b5e5;
@pantone-p-solid-uncoated-660: #628bcd;
@pantone-p-solid-uncoated-661: #4767aa;
@pantone-p-solid-uncoated-662: #41538f;
@pantone-p-solid-uncoated-7450: #c4cbe1;
@pantone-p-solid-uncoated-7451: #92b2ea;
@pantone-p-solid-uncoated-7452: #8fa1e3;
@pantone-p-solid-uncoated-7453: #89ace3;
@pantone-p-solid-uncoated-7454: #7598ba;
@pantone-p-solid-uncoated-7455: #6a7cb8;
@pantone-p-solid-uncoated-7456: #7f8ac0;
@pantone-p-solid-uncoated-2706: #ccd5f1;
@pantone-p-solid-uncoated-2716: #a1aee8;
@pantone-p-solid-uncoated-2726: #6f7acf;
@pantone-p-solid-uncoated-2736: #5d62ba;
@pantone-p-solid-uncoated-2746: #575da4;
@pantone-p-solid-uncoated-2756: #575b8c;
@pantone-p-solid-uncoated-2766: #565a7c;
@pantone-p-solid-uncoated-2708: #b2caf0;
@pantone-p-solid-uncoated-2718: #6788d9;
@pantone-p-solid-uncoated-2728: #5269c1;
@pantone-p-solid-uncoated-2738: #464ea3;
@pantone-p-solid-uncoated-2748: #474f8b;
@pantone-p-solid-uncoated-2758: #494e7a;
@pantone-p-solid-uncoated-2768: #4b4d6c;
@pantone-p-solid-uncoated-2707: #c6daf4;
@pantone-p-solid-uncoated-2717: #a8c7f4;
@pantone-p-solid-uncoated-2727: #6290e8;
@pantone-p-solid-uncoated-blue-072: #3b45ac;
@pantone-p-solid-uncoated-2747: #424f8f;
@pantone-p-solid-uncoated-2757: #434f7f;
@pantone-p-solid-uncoated-2767: #4a4b63;
@pantone-p-solid-uncoated-277: #adcef2;
@pantone-p-solid-uncoated-278: #8cb9ee;
@pantone-p-solid-uncoated-279: #598edc;
@pantone-p-solid-uncoated-reflex-blue: #374a9c;
@pantone-p-solid-uncoated-280: #3c4982;
@pantone-p-solid-uncoated-281: #3e4975;
@pantone-p-solid-uncoated-282: #434968;
@pantone-p-solid-uncoated-283: #9ac7ef;
@pantone-p-solid-uncoated-284: #79b0ea;
@pantone-p-solid-uncoated-285: #4482d0;
@pantone-p-solid-uncoated-286: #2e55a5;
@pantone-p-solid-uncoated-287: #3a5996;
@pantone-p-solid-uncoated-288: #3d5588;
@pantone-p-solid-uncoated-289: #444f69;
@pantone-p-solid-uncoated-7681: #9dafd0;
@pantone-p-solid-uncoated-7682: #7f96bf;
@pantone-p-solid-uncoated-7683: #6982b1;
@pantone-p-solid-uncoated-7684: #6176a3;
@pantone-p-solid-uncoated-7685: #5e719e;
@pantone-p-solid-uncoated-7686: #536995;
@pantone-p-solid-uncoated-7687: #525f8c;
@pantone-p-solid-uncoated-545: #aecee7;
@pantone-p-solid-uncoated-544: #98c0e1;
@pantone-p-solid-uncoated-543: #78a9d2;
@pantone-p-solid-uncoated-542: #679bc6;
@pantone-p-solid-uncoated-541: #3a557d;
@pantone-p-solid-uncoated-540: #3e5270;
@pantone-p-solid-uncoated-539: #475062;
@pantone-p-solid-uncoated-290: #a6d4ee;
@pantone-p-solid-uncoated-291: #7dbdec;
@pantone-p-solid-uncoated-292: #5da8e6;
@pantone-p-solid-uncoated-293: #225aa8;
@pantone-p-solid-uncoated-294: #365989;
@pantone-p-solid-uncoated-295: #375073;
@pantone-p-solid-uncoated-296: #435060;
@pantone-p-solid-uncoated-2905: #88c8ed;
@pantone-p-solid-uncoated-2915: #61b2e7;
@pantone-p-solid-uncoated-2925: #3b96dc;
@pantone-p-solid-uncoated-2935: #145fab;
@pantone-p-solid-uncoated-2945: #24588d;
@pantone-p-solid-uncoated-2955: #385676;
@pantone-p-solid-uncoated-2965: #3d5164;
@pantone-p-solid-uncoated-297: #7ccbef;
@pantone-p-solid-uncoated-298: #45b2e9;
@pantone-p-solid-uncoated-299: #0094d8;
@pantone-p-solid-uncoated-300: #006db7;
@pantone-p-solid-uncoated-301: #24628f;
@pantone-p-solid-uncoated-302: #375d77;
@pantone-p-solid-uncoated-303: #3e5565;
@pantone-p-solid-uncoated-7688: #5b9acb;
@pantone-p-solid-uncoated-7689: #5293c1;
@pantone-p-solid-uncoated-7690: #4a7ea6;
@pantone-p-solid-uncoated-7691: #457198;
@pantone-p-solid-uncoated-7692: #4a6a8b;
@pantone-p-solid-uncoated-7693: #4c6480;
@pantone-p-solid-uncoated-7694: #4c617a;
@pantone-p-solid-uncoated-2975: #89d4ef;
@pantone-p-solid-uncoated-2985: #40b7e8;
@pantone-p-solid-uncoated-2995: #009cdc;
@pantone-p-solid-uncoated-3005: #0076c0;
@pantone-p-solid-uncoated-3015: #1f6a96;
@pantone-p-solid-uncoated-3025: #35617a;
@pantone-p-solid-uncoated-3035: #405767;
@pantone-p-solid-uncoated-7695: #81a8bd;
@pantone-p-solid-uncoated-7696: #709aaf;
@pantone-p-solid-uncoated-7697: #678ea4;
@pantone-p-solid-uncoated-7698: #627f92;
@pantone-p-solid-uncoated-7699: #5d7688;
@pantone-p-solid-uncoated-7700: #537189;
@pantone-p-solid-uncoated-7701: #496b80;
@pantone-p-solid-uncoated-7457: #bee2ee;
@pantone-p-solid-uncoated-7458: #63a4c0;
@pantone-p-solid-uncoated-7459: #4e8eab;
@pantone-p-solid-uncoated-7460: #008cc2;
@pantone-p-solid-uncoated-7461: #3f91c5;
@pantone-p-solid-uncoated-7462: #5279a3;
@pantone-p-solid-uncoated-7463: #4f647e;
@pantone-p-solid-uncoated-304: #8ddcee;
@pantone-p-solid-uncoated-305: #4dc9ee;
@pantone-p-solid-uncoated-306: #00b3e7;
@pantone-p-solid-uncoated-process-blue: #0082c4;
@pantone-p-solid-uncoated-307: #0073a3;
@pantone-p-solid-uncoated-308: #246682;
@pantone-p-solid-uncoated-309: #405864;
@pantone-p-solid-uncoated-635: #aae2f0;
@pantone-p-solid-uncoated-636: #88d7ed;
@pantone-p-solid-uncoated-637: #56c6e6;
@pantone-p-solid-uncoated-638: #25b7e0;
@pantone-p-solid-uncoated-639: #009dcd;
@pantone-p-solid-uncoated-640: #0089bb;
@pantone-p-solid-uncoated-641: #0078a9;
@pantone-p-solid-uncoated-7702: #5baac8;
@pantone-p-solid-uncoated-7703: #3f9fc0;
@pantone-p-solid-uncoated-7704: #2f8aac;
@pantone-p-solid-uncoated-7705: #397d9b;
@pantone-p-solid-uncoated-7706: #407994;
@pantone-p-solid-uncoated-7707: #467288;
@pantone-p-solid-uncoated-7708: #446b7d;
@pantone-p-solid-uncoated-628: #b2dfe7;
@pantone-p-solid-uncoated-629: #89cfde;
@pantone-p-solid-uncoated-630: #70c3d8;
@pantone-p-solid-uncoated-631: #51b0cc;
@pantone-p-solid-uncoated-632: #3398b7;
@pantone-p-solid-uncoated-633: #22819f;
@pantone-p-solid-uncoated-634: #1c6e8a;
@pantone-p-solid-uncoated-310: #53cfe7;
@pantone-p-solid-uncoated-311: #00bdde;
@pantone-p-solid-uncoated-312: #00add3;
@pantone-p-solid-uncoated-313: #008bb4;
@pantone-p-solid-uncoated-314: #007b9a;
@pantone-p-solid-uncoated-315: #1a667a;
@pantone-p-solid-uncoated-316: #3d5a63;
@pantone-p-solid-uncoated-3105: #45cde0;
@pantone-p-solid-uncoated-3115: #00bed5;
@pantone-p-solid-uncoated-3125: #00aac6;
@pantone-p-solid-uncoated-3135: #008ca8;
@pantone-p-solid-uncoated-3145: #007589;
@pantone-p-solid-uncoated-3155: #186775;
@pantone-p-solid-uncoated-3165: #2e5c66;
@pantone-p-solid-uncoated-7709: #6ab2bf;
@pantone-p-solid-uncoated-7710: #3ba9b9;
@pantone-p-solid-uncoated-7711: #0d9bac;
@pantone-p-solid-uncoated-7712: #1b8a9f;
@pantone-p-solid-uncoated-7713: #2b8692;
@pantone-p-solid-uncoated-7714: #33808a;
@pantone-p-solid-uncoated-7715: #417079;
@pantone-p-solid-uncoated-317: #abe9ea;
@pantone-p-solid-uncoated-318: #67d8df;
@pantone-p-solid-uncoated-319: #0cc7d3;
@pantone-p-solid-uncoated-320: #009ba8;
@pantone-p-solid-uncoated-321: #00828d;
@pantone-p-solid-uncoated-322: #0e7279;
@pantone-p-solid-uncoated-323: #2f6067;
@pantone-p-solid-uncoated-7464: #a9dad7;
@pantone-p-solid-uncoated-7465: #53c6b5;
@pantone-p-solid-uncoated-7466: #00b2bf;
@pantone-p-solid-uncoated-7467: #00a5b2;
@pantone-p-solid-uncoated-7468: #3c7693;
@pantone-p-solid-uncoated-7469: #3b6d89;
@pantone-p-solid-uncoated-7470: #446f83;
@pantone-p-solid-uncoated-7471: #79e1d9;
@pantone-p-solid-uncoated-7472: #69bcb9;
@pantone-p-solid-uncoated-7473: #5ca39b;
@pantone-p-solid-uncoated-7474: #418994;
@pantone-p-solid-uncoated-7475: #6b8a8d;
@pantone-p-solid-uncoated-7476: #5a777b;
@pantone-p-solid-uncoated-7477: #5c707a;
@pantone-p-solid-uncoated-5523: #bdd5d7;
@pantone-p-solid-uncoated-5513: #abc9cc;
@pantone-p-solid-uncoated-5503: #92b7bc;
@pantone-p-solid-uncoated-5493: #759ba4;
@pantone-p-solid-uncoated-5483: #5e8089;
@pantone-p-solid-uncoated-5473: #516d75;
@pantone-p-solid-uncoated-5463: #3d4d55;
@pantone-p-solid-uncoated-7716: #489997;
@pantone-p-solid-uncoated-7717: #3c8d8b;
@pantone-p-solid-uncoated-7718: #328083;
@pantone-p-solid-uncoated-7719: #3f7a7c;
@pantone-p-solid-uncoated-7720: #467574;
@pantone-p-solid-uncoated-7721: #477276;
@pantone-p-solid-uncoated-7722: #496b6e;
@pantone-p-solid-uncoated-324: #7fd7d5;
@pantone-p-solid-uncoated-325: #3cbfbc;
@pantone-p-solid-uncoated-326: #00a9a2;
@pantone-p-solid-uncoated-327: #008d84;
@pantone-p-solid-uncoated-328: #087c79;
@pantone-p-solid-uncoated-329: #2e7472;
@pantone-p-solid-uncoated-330: #436363;
@pantone-p-solid-uncoated-3242: #57d9d5;
@pantone-p-solid-uncoated-3252: #00cbc5;
@pantone-p-solid-uncoated-3262: #00b7b0;
@pantone-p-solid-uncoated-3272: #00a19c;
@pantone-p-solid-uncoated-3282: #008582;
@pantone-p-solid-uncoated-3292: #336c6b;
@pantone-p-solid-uncoated-3302: #3f615f;
@pantone-p-solid-uncoated-3245: #45dacc;
@pantone-p-solid-uncoated-3255: #00cdbe;
@pantone-p-solid-uncoated-3265: #00beac;
@pantone-p-solid-uncoated-3275: #00a896;
@pantone-p-solid-uncoated-3285: #008f83;
@pantone-p-solid-uncoated-3295: #1f7d75;
@pantone-p-solid-uncoated-3305: #456965;
@pantone-p-solid-uncoated-3248: #69ccb9;
@pantone-p-solid-uncoated-3258: #43bfac;
@pantone-p-solid-uncoated-3268: #24b09b;
@pantone-p-solid-uncoated-3278: #009b82;
@pantone-p-solid-uncoated-3288: #1d8676;
@pantone-p-solid-uncoated-3298: #35736a;
@pantone-p-solid-uncoated-3308: #48605d;
@pantone-p-solid-uncoated-566: #afe1d8;
@pantone-p-solid-uncoated-565: #8cd0c6;
@pantone-p-solid-uncoated-564: #84c6be;
@pantone-p-solid-uncoated-563: #71b9b0;
@pantone-p-solid-uncoated-562: #3e807a;
@pantone-p-solid-uncoated-561: #426d69;
@pantone-p-solid-uncoated-560: #4a5e5b;
@pantone-p-solid-uncoated-573: #bae8de;
@pantone-p-solid-uncoated-572: #90ded2;
@pantone-p-solid-uncoated-571: #82d6c9;
@pantone-p-solid-uncoated-570: #5bc1b2;
@pantone-p-solid-uncoated-569: #228f83;
@pantone-p-solid-uncoated-568: #407f77;
@pantone-p-solid-uncoated-567: #48635f;
@pantone-p-solid-uncoated-559: #b7d0c0;
@pantone-p-solid-uncoated-558: #9bbfaf;
@pantone-p-solid-uncoated-557: #88b09f;
@pantone-p-solid-uncoated-556: #729d8c;
@pantone-p-solid-uncoated-555: #577d6a;
@pantone-p-solid-uncoated-554: #587465;
@pantone-p-solid-uncoated-553: #5a675d;
@pantone-p-solid-uncoated-5595: #c0d3c8;
@pantone-p-solid-uncoated-5585: #a1b9af;
@pantone-p-solid-uncoated-5575: #9cb4ad;
@pantone-p-solid-uncoated-5565: #87a29a;
@pantone-p-solid-uncoated-5555: #758e88;
@pantone-p-solid-uncoated-5545: #5e766e;
@pantone-p-solid-uncoated-5535: #475a57;
@pantone-p-solid-uncoated-5665: #bdc7bd;
@pantone-p-solid-uncoated-5655: #b3c0b7;
@pantone-p-solid-uncoated-5645: #9faea5;
@pantone-p-solid-uncoated-5635: #8d9d93;
@pantone-p-solid-uncoated-5625: #7a8982;
@pantone-p-solid-uncoated-5615: #6b7970;
@pantone-p-solid-uncoated-5605: #5e695d;
@pantone-p-solid-uncoated-5527: #b9c6c5;
@pantone-p-solid-uncoated-5517: #aabab8;
@pantone-p-solid-uncoated-5507: #95a8a8;
@pantone-p-solid-uncoated-5497: #819596;
@pantone-p-solid-uncoated-5487: #687b7c;
@pantone-p-solid-uncoated-5477: #607070;
@pantone-p-solid-uncoated-5467: #555e5e;
@pantone-p-solid-uncoated-621: #cadfd4;
@pantone-p-solid-uncoated-622: #b2cbc1;
@pantone-p-solid-uncoated-623: #94b5ab;
@pantone-p-solid-uncoated-624: #81a197;
@pantone-p-solid-uncoated-625: #6a8a83;
@pantone-p-solid-uncoated-626: #577570;
@pantone-p-solid-uncoated-627: #435d59;
@pantone-p-solid-uncoated-331: #8fe8d5;
@pantone-p-solid-uncoated-332: #69e1cd;
@pantone-p-solid-uncoated-333: #00cfb6;
@pantone-p-solid-uncoated-green: #00aa90;
@pantone-p-solid-uncoated-334: #00937f;
@pantone-p-solid-uncoated-335: #1f7c6f;
@pantone-p-solid-uncoated-336: #367168;
@pantone-p-solid-uncoated-337: #7fd3ba;
@pantone-p-solid-uncoated-338: #4bc0a2;
@pantone-p-solid-uncoated-339: #1aad8b;
@pantone-p-solid-uncoated-340: #009d78;
@pantone-p-solid-uncoated-341: #327864;
@pantone-p-solid-uncoated-342: #3f6f60;
@pantone-p-solid-uncoated-343: #47645a;
@pantone-p-solid-uncoated-7723: #69ab94;
@pantone-p-solid-uncoated-7724: #4c9a80;
@pantone-p-solid-uncoated-7725: #339073;
@pantone-p-solid-uncoated-7726: #31836a;
@pantone-p-solid-uncoated-7727: #3d7b66;
@pantone-p-solid-uncoated-7728: #457766;
@pantone-p-solid-uncoated-7729: #476f66;
@pantone-p-solid-uncoated-3375: #59dfb9;
@pantone-p-solid-uncoated-3385: #2bd2aa;
@pantone-p-solid-uncoated-3395: #00c597;
@pantone-p-solid-uncoated-3405: #00b07d;
@pantone-p-solid-uncoated-3415: #2a7f68;
@pantone-p-solid-uncoated-3425: #3e7664;
@pantone-p-solid-uncoated-3435: #49665c;
@pantone-p-solid-uncoated-344: #8bd6ad;
@pantone-p-solid-uncoated-345: #6ccc9e;
@pantone-p-solid-uncoated-346: #49bc88;
@pantone-p-solid-uncoated-347: #129a63;
@pantone-p-solid-uncoated-348: #34845c;
@pantone-p-solid-uncoated-349: #467158;
@pantone-p-solid-uncoated-350: #546758;
@pantone-p-solid-uncoated-351: #8fe6b5;
@pantone-p-solid-uncoated-352: #68dfa5;
@pantone-p-solid-uncoated-353: #46d593;
@pantone-p-solid-uncoated-354: #00a85e;
@pantone-p-solid-uncoated-355: #05965f;
@pantone-p-solid-uncoated-356: #337d58;
@pantone-p-solid-uncoated-357: #4f6e5b;
@pantone-p-solid-uncoated-7478: #9de9c6;
@pantone-p-solid-uncoated-7479: #17ca80;
@pantone-p-solid-uncoated-7480: #00c082;
@pantone-p-solid-uncoated-7481: #00b970;
@pantone-p-solid-uncoated-7482: #23a671;
@pantone-p-solid-uncoated-7483: #567761;
@pantone-p-solid-uncoated-7484: #426d61;
@pantone-p-solid-uncoated-7730: #659b7b;
@pantone-p-solid-uncoated-7731: #57916d;
@pantone-p-solid-uncoated-7732: #488364;
@pantone-p-solid-uncoated-7733: #4a7c63;
@pantone-p-solid-uncoated-7734: #597665;
@pantone-p-solid-uncoated-7735: #5e7063;
@pantone-p-solid-uncoated-7736: #5b6a63;
@pantone-p-solid-uncoated-7737: #79ab66;
@pantone-p-solid-uncoated-7738: #63a86a;
@pantone-p-solid-uncoated-7739: #5aa26a;
@pantone-p-solid-uncoated-7740: #5d9766;
@pantone-p-solid-uncoated-7741: #639168;
@pantone-p-solid-uncoated-7742: #678564;
@pantone-p-solid-uncoated-7743: #5e745d;
@pantone-p-solid-uncoated-358: #97d78b;
@pantone-p-solid-uncoated-359: #7ccc79;
@pantone-p-solid-uncoated-360: #5bb660;
@pantone-p-solid-uncoated-361: #4aa951;
@pantone-p-solid-uncoated-362: #53934f;
@pantone-p-solid-uncoated-363: #56854e;
@pantone-p-solid-uncoated-364: #5a794e;
@pantone-p-solid-uncoated-7485: #d4e4bf;
@pantone-p-solid-uncoated-7486: #b6e295;
@pantone-p-solid-uncoated-7487: #86df77;
@pantone-p-solid-uncoated-7488: #5dce59;
@pantone-p-solid-uncoated-7489: #79aa6d;
@pantone-p-solid-uncoated-7490: #7c9d6b;
@pantone-p-solid-uncoated-7491: #808c62;
@pantone-p-solid-uncoated-365: #c2e593;
@pantone-p-solid-uncoated-366: #a8db7e;
@pantone-p-solid-uncoated-367: #8ed06a;
@pantone-p-solid-uncoated-368: #64b246;
@pantone-p-solid-uncoated-369: #609f44;
@pantone-p-solid-uncoated-370: #678949;
@pantone-p-solid-uncoated-371: #67724d;
@pantone-p-solid-uncoated-372: #d0ef8f;
@pantone-p-solid-uncoated-373: #b6e974;
@pantone-p-solid-uncoated-374: #a2e35f;
@pantone-p-solid-uncoated-375: #6dc82c;
@pantone-p-solid-uncoated-376: #6bab38;
@pantone-p-solid-uncoated-377: #708f41;
@pantone-p-solid-uncoated-378: #737b4e;
@pantone-p-solid-uncoated-580: #c9dbac;
@pantone-p-solid-uncoated-579: #bbd19f;
@pantone-p-solid-uncoated-578: #a8c48e;
@pantone-p-solid-uncoated-577: #93b379;
@pantone-p-solid-uncoated-576: #7c9b62;
@pantone-p-solid-uncoated-575: #6f8456;
@pantone-p-solid-uncoated-574: #6b7356;
@pantone-p-solid-uncoated-5807: #d0d3aa;
@pantone-p-solid-uncoated-5797: #c7c99d;
@pantone-p-solid-uncoated-5787: #babe8f;
@pantone-p-solid-uncoated-5777: #a6a97c;
@pantone-p-solid-uncoated-5767: #93986d;
@pantone-p-solid-uncoated-5757: #81845d;
@pantone-p-solid-uncoated-5747: #71744f;
@pantone-p-solid-uncoated-5875: #d7d3a2;
@pantone-p-solid-uncoated-5865: #cdc895;
@pantone-p-solid-uncoated-5855: #bdb78a;
@pantone-p-solid-uncoated-5845: #a8a276;
@pantone-p-solid-uncoated-5835: #958f66;
@pantone-p-solid-uncoated-5825: #8b865d;
@pantone-p-solid-uncoated-5815: #756f4d;
@pantone-p-solid-uncoated-5803: #d0d2b9;
@pantone-p-solid-uncoated-5793: #c6caaf;
@pantone-p-solid-uncoated-5783: #b7bba0;
@pantone-p-solid-uncoated-5773: #9ba185;
@pantone-p-solid-uncoated-5763: #7f866e;
@pantone-p-solid-uncoated-5753: #757b62;
@pantone-p-solid-uncoated-5743: #636951;
@pantone-p-solid-uncoated-7492: #bdc986;
@pantone-p-solid-uncoated-7493: #b8c193;
@pantone-p-solid-uncoated-7494: #9db092;
@pantone-p-solid-uncoated-7495: #828d5a;
@pantone-p-solid-uncoated-7496: #758348;
@pantone-p-solid-uncoated-7497: #8c8778;
@pantone-p-solid-uncoated-7498: #797d64;
@pantone-p-solid-uncoated-7744: #b9be57;
@pantone-p-solid-uncoated-7745: #afb25e;
@pantone-p-solid-uncoated-7746: #9d9f61;
@pantone-p-solid-uncoated-7747: #919561;
@pantone-p-solid-uncoated-7748: #878b61;
@pantone-p-solid-uncoated-7749: #818364;
@pantone-p-solid-uncoated-7750: #787a62;
@pantone-p-solid-uncoated-379: #e9ed7b;
@pantone-p-solid-uncoated-380: #d4e458;
@pantone-p-solid-uncoated-381: #b9d738;
@pantone-p-solid-uncoated-382: #97c222;
@pantone-p-solid-uncoated-383: #8f9a36;
@pantone-p-solid-uncoated-384: #868b3b;
@pantone-p-solid-uncoated-385: #7f7b4a;
@pantone-p-solid-uncoated-386: #f0f179;
@pantone-p-solid-uncoated-387: #e3ed56;
@pantone-p-solid-uncoated-388: #d4e837;
@pantone-p-solid-uncoated-389: #badc04;
@pantone-p-solid-uncoated-390: #96a924;
@pantone-p-solid-uncoated-391: #888a3b;
@pantone-p-solid-uncoated-392: #7e7d42;
@pantone-p-solid-uncoated-587: #ebeb97;
@pantone-p-solid-uncoated-586: #e8e889;
@pantone-p-solid-uncoated-585: #e3e686;
@pantone-p-solid-uncoated-584: #cfd566;
@pantone-p-solid-uncoated-583: #a8b242;
@pantone-p-solid-uncoated-582: #919144;
@pantone-p-solid-uncoated-581: #79744a;
@pantone-p-solid-uncoated-393: #faf283;
@pantone-p-solid-uncoated-394: #f2ef56;
@pantone-p-solid-uncoated-395: #eeec41;
@pantone-p-solid-uncoated-396: #dae200;
@pantone-p-solid-uncoated-397: #a7aa31;
@pantone-p-solid-uncoated-398: #959539;
@pantone-p-solid-uncoated-399: #8a8536;
@pantone-p-solid-uncoated-3935: #fcf389;
@pantone-p-solid-uncoated-3945: #fcf05f;
@pantone-p-solid-uncoated-3955: #faeb37;
@pantone-p-solid-uncoated-3965: #f7e812;
@pantone-p-solid-uncoated-3975: #b6a72b;
@pantone-p-solid-uncoated-3985: #9c903e;
@pantone-p-solid-uncoated-3995: #847c4b;
@pantone-p-solid-uncoated-600: #fbf29e;
@pantone-p-solid-uncoated-601: #f9ef90;
@pantone-p-solid-uncoated-602: #faee85;
@pantone-p-solid-uncoated-603: #f3e564;
@pantone-p-solid-uncoated-604: #eedc4d;
@pantone-p-solid-uncoated-605: #e2cc38;
@pantone-p-solid-uncoated-606: #d0b929;
@pantone-p-solid-uncoated-607: #f4eaa0;
@pantone-p-solid-uncoated-608: #f0e690;
@pantone-p-solid-uncoated-609: #ece080;
@pantone-p-solid-uncoated-610: #e2d26a;
@pantone-p-solid-uncoated-611: #cab84d;
@pantone-p-solid-uncoated-612: #b8a83f;
@pantone-p-solid-uncoated-613: #a39337;
@pantone-p-solid-uncoated-461: #f0e2a0;
@pantone-p-solid-uncoated-460: #e9d98c;
@pantone-p-solid-uncoated-459: #dfcb77;
@pantone-p-solid-uncoated-458: #cfb963;
@pantone-p-solid-uncoated-457: #b09744;
@pantone-p-solid-uncoated-456: #918144;
@pantone-p-solid-uncoated-455: #786f48;
@pantone-p-solid-uncoated-614: #e2d9a0;
@pantone-p-solid-uncoated-615: #d9d096;
@pantone-p-solid-uncoated-616: #cfc58a;
@pantone-p-solid-uncoated-617: #bbb276;
@pantone-p-solid-uncoated-618: #a69d62;
@pantone-p-solid-uncoated-619: #978d53;
@pantone-p-solid-uncoated-620: #887f4a;
@pantone-p-solid-uncoated-7751: #d2bd71;
@pantone-p-solid-uncoated-7752: #d7b961;
@pantone-p-solid-uncoated-7753: #c8ab5f;
@pantone-p-solid-uncoated-7754: #a5915e;
@pantone-p-solid-uncoated-7755: #90855f;
@pantone-p-solid-uncoated-7756: #847c63;
@pantone-p-solid-uncoated-7757: #7a765f;
@pantone-p-solid-uncoated-7758: #dbc958;
@pantone-p-solid-uncoated-7759: #c9b954;
@pantone-p-solid-uncoated-7760: #988f5e;
@pantone-p-solid-uncoated-7761: #818162;
@pantone-p-solid-uncoated-7762: #757a63;
@pantone-p-solid-uncoated-7763: #727463;
@pantone-p-solid-uncoated-7764: #6c6e5f;
@pantone-p-solid-uncoated-7765: #c2b95d;
@pantone-p-solid-uncoated-7766: #bdb35f;
@pantone-p-solid-uncoated-7767: #b2a764;
@pantone-p-solid-uncoated-7768: #958b61;
@pantone-p-solid-uncoated-7769: #80785f;
@pantone-p-solid-uncoated-7770: #787262;
@pantone-p-solid-uncoated-7771: #66655b;
@pantone-p-solid-uncoated-4545: #d7cba6;
@pantone-p-solid-uncoated-4535: #cbbe96;
@pantone-p-solid-uncoated-4525: #c2b58e;
@pantone-p-solid-uncoated-4515: #b2a47d;
@pantone-p-solid-uncoated-4505: #a49671;
@pantone-p-solid-uncoated-4495: #91835e;
@pantone-p-solid-uncoated-4485: #7d6e4a;
@pantone-p-solid-uncoated-454: #cdc6ac;
@pantone-p-solid-uncoated-453: #beb99b;
@pantone-p-solid-uncoated-452: #a9a587;
@pantone-p-solid-uncoated-451: #949073;
@pantone-p-solid-uncoated-450: #80775a;
@pantone-p-solid-uncoated-449: #726b54;
@pantone-p-solid-uncoated-448: #67614d;
@pantone-p-solid-uncoated-7499: #fdedbc;
@pantone-p-solid-uncoated-7500: #e7d5ab;
@pantone-p-solid-uncoated-7501: #dfcba5;
@pantone-p-solid-uncoated-7502: #c8af87;
@pantone-p-solid-uncoated-7503: #9e9171;
@pantone-p-solid-uncoated-7504: #958173;
@pantone-p-solid-uncoated-7505: #887566;
@pantone-p-solid-uncoated-468: #e1cdab;
@pantone-p-solid-uncoated-467: #d5b991;
@pantone-p-solid-uncoated-466: #c4a57f;
@pantone-p-solid-uncoated-465: #b3946f;
@pantone-p-solid-uncoated-464: #9e7b56;
@pantone-p-solid-uncoated-463: #876e51;
@pantone-p-solid-uncoated-462: #72624e;
@pantone-p-solid-uncoated-7506: #fce1b7;
@pantone-p-solid-uncoated-7507: #ffdcab;
@pantone-p-solid-uncoated-7508: #e2b384;
@pantone-p-solid-uncoated-7509: #d4a273;
@pantone-p-solid-uncoated-7510: #bf8b60;
@pantone-p-solid-uncoated-7511: #a8774f;
@pantone-p-solid-uncoated-7512: #986b46;
@pantone-p-solid-uncoated-719: #f3c6a1;
@pantone-p-solid-uncoated-720: #edba92;
@pantone-p-solid-uncoated-721: #e1a87f;
@pantone-p-solid-uncoated-722: #cc936b;
@pantone-p-solid-uncoated-723: #ba825d;
@pantone-p-solid-uncoated-724: #a77350;
@pantone-p-solid-uncoated-725: #956847;
@pantone-p-solid-uncoated-475: #fccdae;
@pantone-p-solid-uncoated-474: #f7be9d;
@pantone-p-solid-uncoated-473: #f0ab87;
@pantone-p-solid-uncoated-472: #df9372;
@pantone-p-solid-uncoated-471: #c07b54;
@pantone-p-solid-uncoated-470: #a57052;
@pantone-p-solid-uncoated-469: #7c614b;
@pantone-p-solid-uncoated-726: #e8c6a8;
@pantone-p-solid-uncoated-727: #dcb696;
@pantone-p-solid-uncoated-728: #cca181;
@pantone-p-solid-uncoated-729: #bc9375;
@pantone-p-solid-uncoated-730: #a67f62;
@pantone-p-solid-uncoated-731: #967156;
@pantone-p-solid-uncoated-732: #88674d;
@pantone-p-solid-uncoated-4685: #e7cab4;
@pantone-p-solid-uncoated-4675: #dcbaa2;
@pantone-p-solid-uncoated-4665: #cca58e;
@pantone-p-solid-uncoated-4655: #b38f7b;
@pantone-p-solid-uncoated-4645: #a17d6a;
@pantone-p-solid-uncoated-4635: #93715e;
@pantone-p-solid-uncoated-4625: #725845;
@pantone-p-solid-uncoated-7513: #e9bbb5;
@pantone-p-solid-uncoated-7514: #dcab9c;
@pantone-p-solid-uncoated-7515: #c4917e;
@pantone-p-solid-uncoated-7516: #a27461;
@pantone-p-solid-uncoated-7517: #946956;
@pantone-p-solid-uncoated-7518: #817272;
@pantone-p-solid-uncoated-7519: #756c65;
@pantone-p-solid-uncoated-4755: #ddc6ba;
@pantone-p-solid-uncoated-4745: #cfb3a9;
@pantone-p-solid-uncoated-4735: #c0a096;
@pantone-p-solid-uncoated-4725: #b19289;
@pantone-p-solid-uncoated-4715: #9b7c73;
@pantone-p-solid-uncoated-4705: #8d7066;
@pantone-p-solid-uncoated-4695: #795c51;
@pantone-p-solid-uncoated-482: #e2c7b9;
@pantone-p-solid-uncoated-481: #d5b6a7;
@pantone-p-solid-uncoated-480: #c7a292;
@pantone-p-solid-uncoated-479: #b08b7f;
@pantone-p-solid-uncoated-478: #916d5d;
@pantone-p-solid-uncoated-477: #806457;
@pantone-p-solid-uncoated-476: #6f5d51;
@pantone-p-solid-uncoated-7527: #dcd7d2;
@pantone-p-solid-uncoated-7528: #d3c7c4;
@pantone-p-solid-uncoated-7529: #bcafa9;
@pantone-p-solid-uncoated-7530: #a99c96;
@pantone-p-solid-uncoated-7531: #8b7f79;
@pantone-p-solid-uncoated-7532: #786e66;
@pantone-p-solid-uncoated-7533: #6f655d;
@pantone-p-solid-uncoated-7534: #d1cbc2;
@pantone-p-solid-uncoated-7535: #c1bbb1;
@pantone-p-solid-uncoated-7536: #afa99d;
@pantone-p-solid-uncoated-7537: #b3b8b7;
@pantone-p-solid-uncoated-7538: #a5aaa8;
@pantone-p-solid-uncoated-7539: #9b9fa1;
@pantone-p-solid-uncoated-7540: #70747c;
@pantone-p-solid-uncoated-427: #c3c7ca;
@pantone-p-solid-uncoated-428: #acb3b7;
@pantone-p-solid-uncoated-429: #91999f;
@pantone-p-solid-uncoated-430: #808990;
@pantone-p-solid-uncoated-431: #747c83;
@pantone-p-solid-uncoated-432: #676c72;
@pantone-p-solid-uncoated-433: #5b5c61;
@pantone-p-solid-uncoated-420: #bebebe;
@pantone-p-solid-uncoated-421: #b2b5b4;
@pantone-p-solid-uncoated-422: #9ea1a2;
@pantone-p-solid-uncoated-423: #919497;
@pantone-p-solid-uncoated-424: #89898b;
@pantone-p-solid-uncoated-425: #7d7d7f;
@pantone-p-solid-uncoated-426: #686868;
@pantone-p-solid-uncoated-441: #b7c2c2;
@pantone-p-solid-uncoated-442: #acb6b6;
@pantone-p-solid-uncoated-443: #8d9b9b;
@pantone-p-solid-uncoated-444: #7c8788;
@pantone-p-solid-uncoated-445: #697173;
@pantone-p-solid-uncoated-446: #626969;
@pantone-p-solid-uncoated-447: #5e625f;
@pantone-p-solid-uncoated-413: #bdbdb5;
@pantone-p-solid-uncoated-414: #acaca6;
@pantone-p-solid-uncoated-415: #9c9f99;
@pantone-p-solid-uncoated-416: #92928c;
@pantone-p-solid-uncoated-417: #83847e;
@pantone-p-solid-uncoated-418: #7a7b75;
@pantone-p-solid-uncoated-419: #585955;
@pantone-p-solid-uncoated-400: #c7c1b9;
@pantone-p-solid-uncoated-401: #b3aea8;
@pantone-p-solid-uncoated-402: #a39e98;
@pantone-p-solid-uncoated-403: #928e89;
@pantone-p-solid-uncoated-404: #8b8782;
@pantone-p-solid-uncoated-405: #77736d;
@pantone-p-solid-uncoated-black: #625e59;
@pantone-p-solid-uncoated-406: #c7beba;
@pantone-p-solid-uncoated-407: #aba2a1;
@pantone-p-solid-uncoated-408: #9d9593;
@pantone-p-solid-uncoated-409: #948c8a;
@pantone-p-solid-uncoated-410: #8a8280;
@pantone-p-solid-uncoated-411: #7a7270;
@pantone-p-solid-uncoated-412: #645c59;
@pantone-p-solid-uncoated-434: #d5cacb;
@pantone-p-solid-uncoated-435: #b6aaad;
@pantone-p-solid-uncoated-436: #a79b9e;
@pantone-p-solid-uncoated-437: #8c8084;
@pantone-p-solid-uncoated-438: #807475;
@pantone-p-solid-uncoated-439: #726869;
@pantone-p-solid-uncoated-440: #696160;
@pantone-p-solid-uncoated-warm-gray-1: #ddd4cc;
@pantone-p-solid-uncoated-warm-gray-2: #cfc7bf;
@pantone-p-solid-uncoated-warm-gray-3: #bdb6b0;
@pantone-p-solid-uncoated-warm-gray-4: #b4aca7;
@pantone-p-solid-uncoated-warm-gray-5: #a8a19b;
@pantone-p-solid-uncoated-warm-gray-6: #a29b95;
@pantone-p-solid-uncoated-warm-gray-7: #968f8b;
@pantone-p-solid-uncoated-warm-gray-8: #8f8884;
@pantone-p-solid-uncoated-warm-gray-9: #867f7b;
@pantone-p-solid-uncoated-warm-gray-10: #837c78;
@pantone-p-solid-uncoated-warm-gray-11: #7e7773;
@pantone-p-solid-uncoated-cool-gray-1: #dad9d7;
@pantone-p-solid-uncoated-cool-gray-2: #cacac8;
@pantone-p-solid-uncoated-cool-gray-3: #c5c5c5;
@pantone-p-solid-uncoated-cool-gray-4: #b8b8ba;
@pantone-p-solid-uncoated-cool-gray-5: #adaeb0;
@pantone-p-solid-uncoated-cool-gray-6: #a4a5a9;
@pantone-p-solid-uncoated-cool-gray-7: #9c9da0;
@pantone-p-solid-uncoated-cool-gray-8: #939598;
@pantone-p-solid-uncoated-cool-gray-9: #898b8e;
@pantone-p-solid-uncoated-cool-gray-10: #828387;
@pantone-p-solid-uncoated-cool-gray-11: #7b7c81;
@pantone-p-solid-uncoated-black-2: #656051;
@pantone-p-solid-uncoated-black-3: #5a5d59;
@pantone-p-solid-uncoated-black-4: #6a5f56;
@pantone-p-solid-uncoated-black-5: #685b5d;
@pantone-p-solid-uncoated-black-6: #4d4e56;
@pantone-p-solid-uncoated-black-7: #6c6864;