

// include the pantone color library
@import "../scss/pantone";



/// basic font stuffs
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}



// responsive mixin
@mixin respond-to( $breakpoint ) {
    @media only screen and (min-width: $breakpoint) { @content; }
}



// general styles
body {
	margin: 0;
	@include font;
}

a {
	color: pantone( "medium-purple-c" );
	text-decoration: none;
	border-bottom: 1px dotted lighten( pantone( "medium-purple-c" ), 50% );

	&:hover {
		color: lighten( pantone( "medium-purple-c" ), 30% );
	}
}



// header styles
.header {
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 25px rgba( 0, 0, 0, .4 );
	text-align: center;
	
	h1 {
		margin: 0;
		padding: 0;
		font-size: 30px;
		line-height: 30px;
		color: #aaa;
		text-transform: uppercase;
		@include font;
	}

	h3 {
		margin: 0;
		padding: 0;
		@include font;
	}

	input[type=text] {
		border: 1px solid #ccc;
		padding: 10px 0;
		text-align: center;
		@include font;
		margin: 8px 0;
		width: 70%;
	}

	@include respond-to( 768px ) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		height: 70px;
		text-align: right;

		h1 {
			float: left;
			padding: 20px 0 0 30px;
		}

		h3 {
			padding: 25px 30px 0 0;
		}

		input[type=text] {
			position: absolute;
			right: 22%;
			top: 8px;
			width: 25%;
		}
	}
}



// swatch styles
.colors {
	@include respond-to( 768px ) {
		margin-top: 70px;
	}

	h4 {
		background: pantone( "cool-gray-1-u" );
		padding: 30px 30px 15px;
		margin: 0;
		font-weight: 700;
		font-size: 14px;
		clear: both;
	}
}

.color {
	padding: 20px;
	text-align: center;
	overflow: hidden;
	display: none;

	&.visible {
		display: block;
	}

	@include respond-to( 480px ) {
		padding: 30px 0;
		float: left;
		width: 50%;
	}

	@include respond-to( 600px ) {
		padding: 50px 0;
		width: 33%;
	}

	@include respond-to( 768px ) {
		width: 25%;
	}

	@include respond-to( 960px ) {
		width: 20%;
	}

	@include respond-to( 1150px ) {
		width: 16.6666%;
	}

	@include respond-to( 1440px ) {
		width: 14.2857%;
	}

	@include respond-to( 1680px ) {
		width: 12.5%;
	}


	span {
		white-space: nowrap;
		font-size: 14px;
		padding: 5px 10px;
		background-color: rgba( 255, 255, 255, 0.8 );
		padding: rgba( 0, 0, 0, 0.8 );
		box-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.3 );
	}

}



// footer styles
.footer {
	clear: both;
	border-top: 10px solid #ccc;
	background: #eee;
	color: #444;
	padding: 80px;
	text-align: center;
	
	@include respond-to( 768px ) {
		padding: 80px 35%;
	}

	h4 {
		text-transform: uppercase;
		@include font;
		font-size: 20px;
		padding: 0;
		margin: 0;
		color: #aaa;
	}

	.credit {
		margin-top: 50px;
		font-size: .85em;
		color: #777;

		a {
			color: #999;
			border-color: #ccc;

			&:hover {
				color: #555;
			}
		}
	}
}